{% extends 'uibase.html.twig' %}
{% block body %}
<div class="content-wrapper">
  <div class="container-fluid">

    <!-- Main Content -->
    <!-- Page Content -->
    <div class="container">
      <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">
          <!-- Blog Post -->
          <div class="card mb-4">
            <a href="dmitry-klokov"> <img class="card-img-top" src="{{ asset('main/img/dmitry-klokov.png') }}" alt="Card image cap"></a>
            <div class="card-body">
              <a  href="dmitry-klokov" > <h2 class="card-title">Who is Dmitry Klokov?</h2></a>
              <p class="card-text"><a href="dmitry-klokov" style="color:black">Before i start introducing this guy, let me tell how i got to know him. Going through some inspirational videos on youtube, i land on this video...</a></p>
              <a href="dmitry-klokov" class="btn btn-primary">Read More &rarr;</a>
            </div>
            <div class="card-footer text-muted">
              <a href="http://glialomsa.com/yassine-berrehouma/web/" target="_blank" class="graycolor"><i class="fa fa-user"></i> Yassine Berrehouma </a> <i class="fa fa-clock-o"></i> February 1, 2018
            </div>
          </div>

          <div class="card mb-4">
            <div class="card">
              <div class="row ">
                <div class="col-md-4">
                  <a href="all-mental"> <img class="img-fluid rounded mb-3 mb-md-0" src="http://wisemovement.be/wp-content/uploads/sites/1684/2016/04/strong-brain.png" alt="" id="top-article-img"></a>
                </div>
                <div class="col-md-8 px-3">
                  <div class="card-block px-3">
                    <a  href="all-mental" ><h2 class="card-title">It's All Mental</h2></a>
                    <p class="card-text"><a href="all-mental" style="color:black">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</a></p>
                    <a href="all-metal" class="btn btn-primary">Read More &rarr;</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card mb-4">
            <div class="card">
              <div class="row ">
                <div class="col-md-4">
                  <a href="essential-supplements"><img class="img-fluid rounded mb-3 mb-md-0" src="https://nobullnutrition.co/wp-content/uploads/2016/05/DSC_5937.jpg" alt="" id="top-article-img"></a>
                </div>
                <div class="col-md-8 px-3">
                  <div class="card-block px-3">
                    <a  href="essential-supplements" ><h2 class="card-title">Essential Supplements For Ultimate Result</h2></a>
                    <p class="card-text"><a href="essential-supplements" style="color:black">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
                    <a href="essential-supplements" class="btn btn-primary">Read More &rarr;</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card mb-4">
            <div class="card">
              <div class="row ">
                <div class="col-md-4">
                  <a href="inspiring-sports-books">  <img class="img-fluid rounded mb-3 mb-md-0" src="https://www.mensjournal.com/wp-content/uploads/mj-618_348_cult-sport-books.jpg?w=618" alt="" id="top-article-img"></a>
                </div>
                <div class="col-md-8 px-3">
                  <div class="card-block px-3">
                    <a  href="inspiring-sports-books" ><h2 class="card-title">Inspiring Sports Books</h2></a>
                    <p class="card-text"><a href="inspiring-sports-books" style="color:black">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</a></p>
                    <a href="inspiring-sports-books" class="btn btn-primary">Read More &rarr;</a>
                  </div>
                </div>
              </div>
            </div>
          </div>








          <!-- Bottom posts-->
          <div class="card-deck">
            <div class="card">
              <a href="daily-habits"> <img class="card-img-top" src="http://www.talentsmart.com/media/uploads/articles/onpage/10-Habits-That-Will-Dramatically-Improve-Your-Life.jpg" alt="Card image cap"></a>
              <div class="card-block">
                <a  href="daily-habits" ><h4 class="card-title">5 Effective Daily Habits</h4></a>
              </div>
            </div>
            <div class="card">
              <a href="rowing"> <img class="card-img-top" src="{{ asset('main/img/sport.jpg') }}" alt="Card image cap"></a>
              <div class="card-block">
                <a  href="rowing" ><h4 class="card-title">What You Need to Know About Rowing!</h4></a>
              </div>
            </div>
            <div class="card">
              <a href="why-do-people-give-up-on-life"> <img class="card-img-top" src="https://rosmiles.files.wordpress.com/2015/06/dont-give-up-diamond-mine-image.jpg" alt="Card image cap"></a>
              <div class="card-block">
                <a  href="why-do-people-give-up-on-life" > <h4 class="card-title">Why do people give up on life?</h4></a>
              </div>
            </div>
          </div>
          <br>

        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

          <!-- Side Widget -->
          <div class="card my-4">
            <h5 class="card-header">Sports News</h5>
            <div class="input-group">
              <div class="feedgrabbr_widget" id="fgid_ddc9b66fb42c4930eb91c589e"></div>
              <script>if (typeof (fg_widgets) === "undefined") fg_widgets = new Array(); fg_widgets.push("fgid_ddc9b66fb42c4930eb91c589e");</script>
              <script async src="{{ asset('https://www.feedgrabbr.com/widget/fgwidget.js')}}"></script>
            </div>
          </div>


          <!-- More Articles -->

          <div class="card my-4" id="news2">
            <div class="wrapper" style="background: url(https://static01.nyt.com/images/2008/05/04/business/04unbox.xlarge1.jpg) center/cover no-repeat;">
              <div class="header">
                <div class="date">
                  <span class="day">6</span>
                  <span class="month">Feb</span>
                  <span class="year">2018</span>
                </div>
                <ul class="menu-content">
                  <li>
                    <a href="#" class="fa fa-bookmark-o"></a>
                  </li>
                  <li><a href="#" class="fa fa-heart-o"><span>18</span></a></li>
                  <li><a href="#" class="fa fa-comment-o"><span>3</span></a></li>
                </ul>
              </div>
              <div class="data">
                <div class="content">
                  <a href="http://glialomsa.com/yassine-berrehouma/web/" target="_blank" class="whitehover"> <span class="author"><i class="fa fa-user">Yassine Berrehouma</i></span></a>
                  <h2 style="font-weight: 400" class="title"><a href="leadership">8 intuitive steps to great leadership</a></h2>
                  <a href="leadership" class="whitehover"> <p class="text">Have you ever wondered, what makes a person outstanding from the rest, and be a leader?</p></a>
                  <a href="leadership" class="button">Read more</a>
                </div>
              </div>
            </div>
          </div>

          <div class="card my-4" id="news2">
           <div class="wrapper" style="background: url(https://media.gqindia.com/wp-content/uploads/2015/11/gq-mens-accessories-2015-top-866x487.jpg) center/cover no-repeat;">
              <div class="header">
                <div class="date">
                  <span class="day">6</span>
                  <span class="month">Feb</span>
                  <span class="year">2018</span>
                </div>
                <ul class="menu-content">
                  <li>
                    <a href="#" class="fa fa-bookmark-o"></a>
                  </li>
                  <li><a href="#" class="fa fa-heart-o"><span>18</span></a></li>
                  <li><a href="#" class="fa fa-comment-o"><span>3</span></a></li>
                </ul>
              </div>
              <div class="data">
                <div class="content">
                  <a href="http://glialomsa.com/yassine-berrehouma/web/" target="_blank" class="whitehover"> <span class="author"><i class="fa fa-user">Yassine Berrehouma</i></span></a>
                  <h2 style="font-weight: 400" class="title"><a href="men-accessory2">5 Accessories Every Guy Needs (Part2)</a></h2>
                  <a href="men-accessory2" class="whitehover"> <p class="text">Gentlemen today is an accessory extravaganza because I'm going over 5 accessories I feel every dude needs.</p></a>
                  <a href="men-accessory2" class="button">Read more</a>
                </div>
              </div>
            </div>
          </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->
  </div>
</div>






    {% block javascripts %}
      <script>
          $(" #sport-nav-item").css('background-color', '#f3a525');
          $(" #sport-nav-item").css('opacity', '0.75');
          //$(" #mainNav.navbar.navbar-expand-lg.fixed-top").css('background-color', '#f5f5f5');
          //$(" #mainNav.fixed-top .sidenav-toggler > .nav-item > .nav-link").css('background-color', '#5c271e');
          //$(" .a").css('background-color', '#5c271e');
          //$(" #mainNav.fixed-top .sidenav-toggler > .nav-item > .nav-link").css('background-color', 'rgba(0, 0, 0, 0.28)');


      </script>
    {% endblock %}

{% endblock %}