{% extends 'loginbase.twig' %}
{% block body %}


  <div class="container">
    <div class="card card-register mx-auto mt-5">
      <div class="card-header">Register an Account</div>
      <div class="card-body">
        <form>
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label for="exampleInputName">First name</label>
                <input class="form-control" id="exampleInputName" type="text" aria-describedby="nameHelp" placeholder="Enter first name">
              </div>
              <div class="col-md-6">
                <label for="exampleInputLastName">Last name</label>
                <input class="form-control" id="exampleInputLastName" type="text" aria-describedby="nameHelp" placeholder="Enter last name">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input class="form-control" id="exampleInputEmail1" type="email" aria-describedby="emailHelp" placeholder="Enter email">
          </div>
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label for="exampleInputPassword1">Password</label>
                <input class="form-control" id="exampleInputPassword1" type="password" placeholder="Password">


                <div id="container">
                  <div class="top"></div>
                  <div class="middle">
                    <div class="left"></div>
                    <div class="middle">
                      <div id="form-container">

                        <div id="all-done">All done</div>

                        <form id="verify-new-password">
                          <label for="verify-password">Verify your password</label>
                          <input placeholder="Enter your password again" type="password" id="verify-password" name="password-to-verify">
                          <ul>
                            <li id="matches-password">Matches new password.</li>
                          </ul>

                          <input type="submit" id="verify-password-submit" value="Confirm password" disabled="disabled">
                          <button id="go-back">Go back</button>
                        </form>

                        <form id="new-password" class="visible">
                          <label for="password">Choose a new password</label>
                          <input placeholder="Enter your password" type="password" id="password" name="password">
                          <input type="submit" id="password-submit" value="Next">
                          <br class="clear" />
                          <ul>
                            <li id="eight-plus" class="complete">At least 8 characters long.</li>
                            <li id="uppercase" class="complete">Contains uppercase letters.</li>
                            <li id="lowercase" class="complete">Contains lowercase letters.</li>
                            <li id="numbers" class="complete">Contains numbers.</li>
                            <li id="punctuation" class="complete">Contains punctuation.</li>
                          </ul>


                        </form>

                      </div>
                    </div>
                    <div class="right"></div>
                  </div>
                  <div class="bottom"></div>
                </div>



              </div>
              <div class="col-md-6">
                <label for="exampleConfirmPassword">Confirm password</label>
                <input class="form-control" id="exampleConfirmPassword" type="password" placeholder="Confirm password">
              </div>
            </div>
          </div>
          <a class="btn btn-primary btn-block" href="login">Register</a>
        </form>
        <div class="text-center">
          <a class="d-block small mt-3" href="login">Login Page</a>
          <a class="d-block small" href="forgot-password">Forgot Password?</a>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
  {% block javascripts %}

  {% endblock %}
