#yo {
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
    color: #444;
    border: 1px solid #999;
    border-radius: 4px;
    background: #eee;
    text-align: center;
    padding-top: 30px;
    float: left;
}

#yo :before {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #eee;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    font-size: 28px;
    font-style: normal;
    left: 50%;
    line-height: 60px;
    position: absolute;
    top: -30px;
    width: 60px;
}

#yo .card-question {
    margin: 20px 0 20px;
    font-size: 150%;
}

#yo .card-separator {
    width: 100%;
    margin: 10px 0 10px 0;
}

.card-green {
    border-top: 4px solid #16a085;
}

.card-green :before {
    color: #16a085;
    content: "\f007";
    font-family: 'FontAwesome';
}

.card-green .card-separator {
    border: 1px solid #16a085;
}