{% extends 'uibase.html.twig' %}
{% block body %}




<div class="content-wrapper">

    <!-- Page Content -->
    <div class="container">

        <div class="row" style="margin-left:10%">

            <!-- Post Content Column -->




                <div class="card-deck">
                    <div class="card" style="right:5%">
                        <img class="card-img-top" src="https://www.cdc.gov/features/foodsafetyquiz/foodsafetyquiz_456px.jpg" alt="Card image cap">

                    </div>

                    <div class="card">
                        <img class="card-img-top" src="https://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/articles/health_tools/12_powerhouse_vegetables_slideshow/intro_cream_of_crop.jpg" alt="Card image cap">

                    </div>

                    <div class="card" style="left:5%">
                        <img class="card-img-top" src="http://www.vegetables.co.nz/assets/Uploads/vegetables.jpg" alt="Card image cap">
                        <br>
                    </div>

                </div>


            <div class="card-deck">
                <div class="card" style="right:5%">
                    <img class="card-img-top" src="http://cdn.newsapi.com.au/image/v1/053e70ddc55e5aa4b1584e2485331c20" alt="Card image cap">

                </div>

                <div class="card">
                    <img class="card-img-top" src="http://cdn-img.health.com/sites/default/files/styles/small_16_9/public/migration/img/mag/2013/09/fall-foods-superfruit-400x400.jpg?itok=DSP4azxj" alt="Card image cap">

                </div>

                <div class="card" style="left:5%">
                    <img class="card-img-top" src="https://trindo.ca/wp-content/uploads/2017/03/OFPA-Showcase-Banner.jpg" alt="Card image cap">
                    <br>
                </div>

            </div>


            <div class="card-deck">
                <div class="card" style="right:5%">
                    <img class="card-img-top" src="https://zzoob.com/wp-content/uploads/2017/08/585be1aa1600002400bdf2a6.jpeg" alt="Card image cap">
                    <br>
                </div>

                <div class="card">
                    <img class="card-img-top" src="https://foodtank.com/wp-content/uploads/2017/03/Food-Tank-Keri-Glassman-interview.jpg" alt="Card image cap">

                </div>

                <div class="card" style="left:5%">
                    <img class="card-img-top" src="https://formatourinc.com/wp-content/uploads/2016/08/bigstock-Organic-Food-Including-Vegetab-115393862.jpg" alt="Card image cap">

                </div>

            </div>

            </div>
        </div>


{% endblock %}
{% block javascripts %}

{% endblock %}