/* Card styles for rotation */
.rotate-container {
    position: relative;
}
.rotate-container .card-front, .rotate-container .card-back {
    width: 100%;
    height: 100%;
    -webkit-transform: perspective(600px) rotateY(0deg);
    transform: perspective(600px) rotateY(0deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: all 0.5s linear 0s;
    transition: all 0.5s linear 0s;
}
.rotate-container .card-back {
    -webkit-transform: perspective(1600px) rotateY(180deg);
    transform: perspective(1600px) rotateY(180deg);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.rotate-container .rotate-card-front {
    -webkit-transform: perspective(1600px) rotateY(-180deg);
    transform: perspective(1600px) rotateY(-180deg);
}
.rotate-container .rotate-card-back {
    -webkit-transform: perspective(1600px) rotateY(0deg);
    transform: perspective(1600px) rotateY(0deg);
}

/* Modified card styles */
.card {
    -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
}
.card .card-header p {
    margin: 0;
}
.card .card-background {
    background: url("https://yt3.ggpht.com/zTEBPNuEhkps1dgJBpf45hIrcRepZ6Gz-D-O147boowzafRVHsDTdAJdql0eX9-IAmjRlYEY=w2560-fcrop64=1,00005a57ffffa5a8-nd-c0xffffffff-rj-k-no");
    height: 8em;
    background-position: center center;
    background-size: cover;
}
.card .avatar {
    max-width: 6em;
    max-height: 6em;
    margin-top: -4em;
    margin-bottom: 1em;
    border: 4px solid white;
    border-radius: 50%;
    background: radial-gradient(#e3e3e3, #329A7C, #109381);
}
.card .btn {
    margin-bottom: 1em;
    cursor: pointer;
}
.card .social-links li {
    margin: 0.5em;
}
.card .social-links a {
    font-size: 1.5em;
}