{% extends 'uibase.html.twig' %}
{% block body %}


  <div class="content-wrapper">

    <!-- Page Content -->
    <div class="container">

      <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">

          <!-- Title -->
          <h1 class="mt-4"> 7 Prerequisites For Learning Artificial Intelligence?</h1>

          <!-- Author -->
          <p class="lead">
            by
            <a href="http://glialomsa.com/yassine-berrehouma/web/" target="_blank"><b>Yassine Berrehouma</b></a>
            Posted on March 7, 2018
          </p>
 <p>Before proceeding to the prerequisites, let me tell you a little bit about Artificial Intelligence, or shall i say AI.
<br>Have you ever wondered, what is definition of AI, I mean the real definition?</p>

          <!-- Preview Image -->
         <!--  <div class="row" id="social-share">

          <!--<button type="button" class="btn btn-primary btn-lg" style="background-color: #3b5998 ; width: 19% ; border-style:none "><i class="fa fa-facebook left"></i> Facebook</button>
          <button type="button" class="btn btn-primary btn-lg" style="background-color: #55ACEE ; width: 19% ; border-style:none "><i class="fa fa-twitter-square fa-4x"></i> </button>
          <button type="button" class="btn btn-primary btn-lg" style="background-color: #0000F0 ; width: 18% "><i class="fa fa-envelope left"></i> Email</button>
          <button type="button" class="btn btn-primary btn-lg" style="background-color: #2c4762 ; width: 19% ; border-style:none "><i class="fa fa-tumblr left"></i> Tumblr</button>
          <button type="button" class="btn btn-primary btn-lg" style="background-color: #007bb5 ; width: 19% ; border-style:none "><i class="fa fa-linkedin left"></i> Linkedin</button>
          <button type="button" class="btn btn-primary btn-lg" style="background-color: #cb2027 ; width: 19% ; border-style:none "><i class="fa fa-pinterest left"></i> Pinterest</button>-->
         <!-- <a href="#"><i class="fa fa-facebook-square fa-4x fa-hover" data-toggle="tooltip" title="Facebook" style="color: #3b5998 ;"></i></a>&nbsp;
          <a href="#"><i class="fa fa-twitter-square fa-4x fa-hover " data-toggle="tooltip" title="Twitter" style="color: #55ACEE ;"></i></a>&nbsp;
          <a href="#"><i class="fa fa-tumblr-square fa-4x fa-hover"data-toggle="tooltip" title="Tumblr"  style="color: #2c4762 ;"></i></a>&nbsp;
          <a href="#"><i class="fa fa-envelope-square fa-4x fa-hover" data-toggle="tooltip" title="Mail" style="color: #0000F0 ;"></i></a>&nbsp;
           <a href="#"><i class="fa fa-linkedin-square fa-4x fa-hover" data-toggle="tooltip" title="Linkedin" style="color: #007bb5 ;"></i></a>&nbsp;
          <a href="#"><i class="fa fa-pinterest-square fa-4x fa-hover"data-toggle="tooltip" title="Pinterest" style="color: #cb2027 ;"></i></a>&nbsp;
          </div>!-->


<!-- Go to www.addthis.com/dashboard to customize your tools -->
<div class="addthis_inline_share_toolbox"></div>



          <img class="img-fluid rounded" src="https://www.techworm.net/wp-content/uploads/2017/11/960x0.jpg" alt="">


        <br>
        <p>The theory and development of computer systems able to perform tasks that normally require human intelligence, such as visual perception, speech recognition, decision-making, and translation between languages.
These processes include learning (the acquisition of information and rules for using the information), reasoning (using the rules to reach approximate or definite conclusions), and self-correction. Particular applications of AI include expert systems, speech recognition and machine vision.</p>



<p>AI is one of the more advanced topics in Computational sciences. The increase in the level of automation in almost all verticals of business operations and as well as science and technology has increased the importance of the subject to manifold.
<br>
Artificial Intelligence (AI) is a cross disciplinary topic. It involves three main things. First, you need to know programming (in any language but Python is better). Second, you should be good at math and logic (algorithms) and third you need have domain knowledge of the problem you are solving. First and second skills are common for all the problems so you should learn them in the beginning.</p>

<h3><b><u>The tl; dr version</u></b></h3>

<p>1- <b>Theory of Artificial Intelligence</b>
<br>2- <b>C++</b> (No programmer should start without learning programming in C++)
<br>3- <b>One Modern Programming language</b> with a large support community (Maybe Python)
<br>4- <b>Mathematics</b> (statistics, matrices, probability and equations)
<br>5- Subject <b>Area of Interest</b> (this is completely your choice)</p>
          <!-- Post Content -->


<h3><b><u>The longer version</u></b></h3>

<ol><li>Understand and read the <b>theory of AI before you venture.</b></li>

<br><iframe width="700" height="345" src="https://www.youtube.com/embed/kWmX3pd1f10">
            </iframe><br><br>

<li><b>Analysis and Design of Algorithms </b>(an important skill to make efficient algorithms - optional)</li>

<br><iframe width="700" height="345" src="https://www.youtube.com/embed/6hfOvs8pY1k">
            </iframe><br><br>

<li>Learn<b> programming in C++</b> so that you<b> understand the basics of structural program flow and object oriented programming</b>. C++ is essentially used in the market even today because it is <b>very fast </b>and processor friendly. Speed is crucial in AI solutions and while not important to use it each time, programming in C++ is a skill.</li>
<br><iframe width="700" height="345" src="https://www.youtube.com/embed/_r5i5ZtUpUM">
            </iframe><br><br>

<li>Learn one modern programming language, like <b>Python, Ruby, Perl </b>(not sure how modern Perl is?) because it is crucial to solve your AI problems without being frustrated with the syntax and verbose grammar of older languages (programs get bigger, trust me)</li>
<br><iframe width="700" height="345" src="https://www.youtube.com/embed/hxGB7LU4i1I">
            </iframe><br><br>

<li>Do not use built-in functions as far as possible unless you are planning to publish the code so that you can understand and work with the idea of how the function works. For this reason, i highly encourage reading this book.

<br><br> <b>PDF Link:</b> <a href="https://www.ics.uci.edu/~rickl/courses/cs-171/aima-resources/Artificial%20Intelligence%20A%20Modern%20Approach%20(3rd%20Edition).pdf" target="_blank">https://www.ics.uci.edu/~rickl/courses/cs-171/aima-resources/Artificial%20Intelligence%20A%20Modern%20Approach%20(3rd%20Edition).pdf</a> </li>
<br><img class="img-fluid rounded" src="http://www.pearson.com.au/MC_images/_amazon/9781292153971.jpg" alt=""><br><br>

<li><b>Mathematics </b>is crucial for AI problems. One must know<b> how to solve equations (not limited to single variable), know manipulations of matrices, integration, differentiation, probability, statistics</b>. It all comes in need when you have to solve a certain problem. <i>AI in simple words is finding mathematical relationships and equations (not always) for real-life problems and emulating them on a computer-based system.</i></li>
  <br><img class="img-fluid rounded" src="http://www.science20.com/files/images/euclid-math-colonization-1nww8hi.jpg" alt=""><br><br>

<li>Find a <b>subject area of interest</b>. Understand the nuances and the logic behind ever step undertaken. <i>If you have to make your system intelligent in a particular application, you should know the subtleties of the application yourself. Otherwise, there is a lot of error in your design logic and Algorithm.</i></li>
 <br> <img class="img-fluid rounded" src="http://www.worldinwar.eu/wp-content/uploads/2016/12/AI.png" alt=""><br><br>

</ol>


      <h2>Happy Learning!</h2>

          <br>

        <!--  <div class="row" id="social-share">

          <!--<button type="button" class="btn btn-primary btn-lg" style="background-color: #3b5998 ; width: 19% ; border-style:none "><i class="fa fa-facebook left"></i> Facebook</button>
          <button type="button" class="btn btn-primary btn-lg" style="background-color: #55ACEE ; width: 19% ; border-style:none "><i class="fa fa-twitter-square fa-4x"></i> </button>
          <button type="button" class="btn btn-primary btn-lg" style="background-color: #0000F0 ; width: 18% "><i class="fa fa-envelope left"></i> Email</button>
          <button type="button" class="btn btn-primary btn-lg" style="background-color: #2c4762 ; width: 19% ; border-style:none "><i class="fa fa-tumblr left"></i> Tumblr</button>
          <button type="button" class="btn btn-primary btn-lg" style="background-color: #007bb5 ; width: 19% ; border-style:none "><i class="fa fa-linkedin left"></i> Linkedin</button>
          <button type="button" class="btn btn-primary btn-lg" style="background-color: #cb2027 ; width: 19% ; border-style:none "><i class="fa fa-pinterest left"></i> Pinterest</button>-->
         <!-- <a href="#"><i class="fa fa-facebook-square fa-4x fa-hover" data-toggle="tooltip" title="Facebook" style="color: #3b5998 ;"></i></a>&nbsp;
          <a href="#"><i class="fa fa-twitter-square fa-4x fa-hover " data-toggle="tooltip" title="Twitter" style="color: #55ACEE ;"></i></a>&nbsp;
          <a href="#"><i class="fa fa-tumblr-square fa-4x fa-hover"data-toggle="tooltip" title="Tumblr"  style="color: #2c4762 ;"></i></a>&nbsp;
          <a href="#"><i class="fa fa-envelope-square fa-4x fa-hover" data-toggle="tooltip" title="Mail" style="color: #0000F0 ;"></i></a>&nbsp;
           <a href="#"><i class="fa fa-linkedin-square fa-4x fa-hover" data-toggle="tooltip" title="Linkedin" style="color: #007bb5 ;"></i></a>&nbsp;
          <a href="#"><i class="fa fa-pinterest-square fa-4x fa-hover"data-toggle="tooltip" title="Pinterest" style="color: #cb2027 ;"></i></a>&nbsp;
          </div>!-->


<!-- Go to www.addthis.com/dashboard to customize your tools -->
<div class="addthis_inline_share_toolbox"></div>
          <br>
          <!-- Bottom posts-->
          <div class="card-deck">
            <div class="card">
              <img class="card-img-top" src="http://blogs-images.forbes.com/sap/files/2012/07/leadership-3.jpg" alt="Card image cap">
              <div class="card-block">
                <a  href="leadership" ><h4 class="card-title"> 8 intuitive steps to great leadership</h4></a>
              </div>
            </div>

            <div class="card">
              <img class="card-img-top" src="https://data.whicdn.com/images/66826758/large.jpg" alt="Card image cap">
              <div class="card-block">
                <a  href="life-changing-books" ><h4 class="card-title">5 Life Changing Books</h4></a>
              </div>
            </div>

            <div class="card">
              <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTBiJpvR-EujaOVV-JQhNBrMI2niIh-jQq_IkS-JirOJ7gXxVTO" alt="Card image cap">
              <div class="card-block">
                <a  href="dating-app" > <h4 class="card-title">Best Dating Apps!</h4></a>
              </div>
            </div>


          </div>
          <br>

        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

          <!-- Side Widget -->
           <div class="card my-4" id="news1">
            <div class="wrapper">

              <div class="date">
                <span class="day">21</span>
                <span class="month">Feb</span>
                <span class="year">2018</span>
              </div>
              <div class="data">
                <div class="content">
                  <span class="author"><a href="http://glialomsa.com/yassine-berrehouma/web/" target="_blank"><i class="fa fa-user">Yassine Berrehouma</i></a></span>
                  <h3 class="title"><a href="science-facts-people-get-wrong">What are some science facts that people generally get wrong?</a></h3>
                 <!-- <p class="text"><a href="things-to-avoid" class="blackhover">To be successful in life, isn't only about the things that you have to do and achieve, but...</a></p>!-->
                  <label for="show-menu" class="menu-button"><span></span></label>
                </div>
                <input type="checkbox" id="show-menu" />
                <ul class="menu-content">
                  <li>
                    <a href="#" class="fa fa-bookmark-o"></a>
                  </li>
                  <li><a href="#" class="fa fa-heart-o"><span>47</span></a></li>
                  <li><a href="#" class="fa fa-comment-o"><span>8</span></a></li>
                </ul>
              </div>
            </div>
          </div>


          <!-- More Articles -->

         <div class="card my-4" id="news2">
           <div class="wrapper" style="background: url(http://monkeygoosemag.com/wp-content/uploads/2017/08/Slayer-LOG-Behemouth-Mag-13.jpg) center/cover no-repeat;">
              <div class="header">
                <div class="date">
                  <span class="day">6</span>
                  <span class="month">Feb</span>
                  <span class="year">2018</span>
                </div>
                <ul class="menu-content">
                  <li>
                    <a href="#" class="fa fa-bookmark-o"></a>
                  </li>
                  <li><a href="#" class="fa fa-heart-o"><span>18</span></a></li>
                  <li><a href="#" class="fa fa-comment-o"><span>3</span></a></li>
                </ul>
              </div>
              <div class="data">
                <div class="content">
                  <a href="http://glialomsa.com/yassine-berrehouma/web/" target="_blank" class="whitehover"> <span class="author"><i class="fa fa-user">Yassine Berrehouma</i></span></a>
                  <h2 style="font-weight: 400" class="title"><a href="slayer">Slayer: Farewell Tour</a></h2>
                  <a href="slayer" class="whitehover"> <p class="text">What makes them as the most extreme thrash metal band out of The Big Four?</p></a>
                  <a href="slayer" class="button">Read more</a>
                </div>
              </div>
            </div>
          </div>

          <div class="card my-4" id="news2">
            <div class="wrapper" style="background: url(https://i.pinimg.com/736x/a4/0f/bd/a40fbd099395e10504af023566a2b696.jpg) center/cover no-repeat;">
              <div class="header">
                <div class="date">
                  <span class="day">6</span>
                  <span class="month">Feb</span>
                  <span class="year">2018</span>
                </div>
                <ul class="menu-content">
                  <li>
                    <a href="#" class="fa fa-bookmark-o"></a>
                  </li>
                  <li><a href="#" class="fa fa-heart-o"><span>18</span></a></li>
                  <li><a href="#" class="fa fa-comment-o"><span>3</span></a></li>
                </ul>
              </div>
              <div class="data">
                <div class="content">
                  <a href="http://glialomsa.com/yassine-berrehouma/web/" target="_blank" class="whitehover"> <span class="author"><i class="fa fa-user">Yassine Berrehouma</i></span></a>
                  <h2 style="font-weight: 400" class="title"><a href="men-accessory">5 Accessories Every Guy Needs (Part1)</a></h2>
                  <a href="men-accessory" class="whitehover"> <p class="text">Gentlemen today is an accessory extravaganza because I'm going over 5 accessories I feel every dude needs.</p></a>
                  <a href="men-accessory" class="button">Read more</a>
                </div>
              </div>
            </div>
          </div>

        </div>

        <!-- /.row -->

      </div>
      <!-- /.container -->
    </div>




 {% endblock %}
    {% block javascripts %}
      <script>
          $(" #science-nav-item").css('background-color', '#29912d');
          $(" #science-nav-item").css('opacity', '0.75');
          /*  $(" #mainNav.fixed-top .navbar-sidenav").css('background-color', '#29912d');
            $(" #mainNav.navbar.navbar-expand-lg.fixed-top").css('background-color', '#29912d');
            $(" #mainNav.fixed-top .sidenav-toggler > .nav-item > .nav-link").css('background-color', '#1c651e');
            $(" .nav-link").css('color', '#e5e5e5');*/

      </script>
    {% endblock %}