{% extends 'uibase.html.twig' %}
{% block body %}


  <div class="content-wrapper">

    <!-- Page Content -->
    <div class="container">

      <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">

          <!-- Title -->
          <h3 class="mt-4">Who is Alpha M?</h3>

          <!-- Author -->
          <p class="lead">
            by
            <a href="http://glialomsa.com/yassine-berrehouma/web/" target="_blank"><b>Yassine Berrehouma</b></a>
            Posted on February 1, 2018
          </p>

 <p> Before i start introducing this guy, known as Alpha M, let me ensure that I have not been paid or anything like that to
 write this article. I have been following Alpha for a couple of years now and what are you about to read are facts and from my personal opinion.</p>

          <!-- Preview Image -->
        <!--  <div class="row" id="social-share">

          <!--<button type="button" class="btn btn-primary btn-lg" style="background-color: #3b5998 ; width: 19% ; border-style:none "><i class="fa fa-facebook left"></i> Facebook</button>
          <button type="button" class="btn btn-primary btn-lg" style="background-color: #55ACEE ; width: 19% ; border-style:none "><i class="fa fa-twitter-square fa-4x"></i> </button>
          <button type="button" class="btn btn-primary btn-lg" style="background-color: #0000F0 ; width: 18% "><i class="fa fa-envelope left"></i> Email</button>
          <button type="button" class="btn btn-primary btn-lg" style="background-color: #2c4762 ; width: 19% ; border-style:none "><i class="fa fa-tumblr left"></i> Tumblr</button>
          <button type="button" class="btn btn-primary btn-lg" style="background-color: #007bb5 ; width: 19% ; border-style:none "><i class="fa fa-linkedin left"></i> Linkedin</button>
          <button type="button" class="btn btn-primary btn-lg" style="background-color: #cb2027 ; width: 19% ; border-style:none "><i class="fa fa-pinterest left"></i> Pinterest</button>-->
         <!-- <a href="#"><i class="fa fa-facebook-square fa-4x fa-hover" data-toggle="tooltip" title="Facebook" style="color: #3b5998 ;"></i></a>&nbsp;
          <a href="#"><i class="fa fa-twitter-square fa-4x fa-hover " data-toggle="tooltip" title="Twitter" style="color: #55ACEE ;"></i></a>&nbsp;
          <a href="#"><i class="fa fa-tumblr-square fa-4x fa-hover"data-toggle="tooltip" title="Tumblr"  style="color: #2c4762 ;"></i></a>&nbsp;
          <a href="#"><i class="fa fa-envelope-square fa-4x fa-hover" data-toggle="tooltip" title="Mail" style="color: #0000F0 ;"></i></a>&nbsp;
           <a href="#"><i class="fa fa-linkedin-square fa-4x fa-hover" data-toggle="tooltip" title="Linkedin" style="color: #007bb5 ;"></i></a>&nbsp;
          <a href="#"><i class="fa fa-pinterest-square fa-4x fa-hover"data-toggle="tooltip" title="Pinterest" style="color: #cb2027 ;"></i></a>&nbsp;
          </div>!-->


<!-- Go to www.addthis.com/dashboard to customize your tools -->
<div class="addthis_inline_share_toolbox"></div>



          <img class="img-fluid rounded" src="{{ asset('main/img/alpha-m.jpg') }}" alt="">


          <br>
          <br>

          <!-- Post Content -->

      <h3>1-Aarino Marino</h3>
            <p>Throughout the past 10 years, Aaron Marino has worked with thousands of men from around the world, helping them with their personal style, grooming, fashion, image, wardrobe and even dating</p>
<br>
 <h3>2-"Alpha M" youtube channel</h3>
            <p>Launched in 2008, the 6th july to be precise, with over 3million subscribers and over 450million total views. Through his weekly YouTube posts, Aaron Marino covers a host of topics in the area of men’s style, fashion, grooming and even personal responsibility.
</p>
<p>Aaron Marino has not only expanded his reach with his viral videos but also with a variety of products such as the style system that was featured on the ABC’s Shark Tank.</p>
<br>
 <h3>3-Pete & Pedro</h3>
            <p>Aaron Marino is also the author of the best selling e-book "The Male Style Guide". Pete & Pedro men’s hair products has been a men’s grooming sensation with the tongue-and-cheek humor. Putting all humor aside, however, these Pete & Pedro products have received amazing reviews and faithful repeat clientele. </p>
            <p>Speaking of amazing, the newest addition to the alpha m. Image Consulting empire is Aaron Marino’s own M. Apparel clothing line for men. Each item is personally branded by Aaron Marino with the M. Apparel logo. Since the launch, M. Apparel has been flying off of the shelves.</p>
     <br>

      <h3>4-Tiege Henley</h3>
                <p>
                Based on those points:
               <br> 1) guys don’t learn as much about skin care as women,
<br>2) choosing what products you need and what they do can be complicated, and,
<br>3) many of these products are ridiculously expensive.</p>

<p>Tiege Henley was created, by a high quality men’s skin care company to help men keep their skin healthy and ageless.  They made it simple for guys (including myself) to purchase and use without breaking the bank, just by following a couple of steps
and look better than ever.
</p>  <br>

       <h3>5-IAmAlphaM</h3>
           <p>To ice the style cake, IAmAlphaM was launched as a men’s life, style and personal development zone. </p>
           <p>IAmAlphaM is THE source for all things men's style, grooming, and fitness. The site features over 1,500 original videos and articles as well as super cool IAmAlphaM approved products at a great price. </p>
           <p>Every weekday reveals the "Deal of the Day" as well as a topical video: Monday- Style, Tuesday- Grooming, Wednesday- Fitness, Thursday- Alpha M. and Friday- Q&A.</p>
           <br>

         <!--  <div class="row" id="social-share">

          <!--<button type="button" class="btn btn-primary btn-lg" style="background-color: #3b5998 ; width: 19% ; border-style:none "><i class="fa fa-facebook left"></i> Facebook</button>
          <button type="button" class="btn btn-primary btn-lg" style="background-color: #55ACEE ; width: 19% ; border-style:none "><i class="fa fa-twitter-square fa-4x"></i> </button>
          <button type="button" class="btn btn-primary btn-lg" style="background-color: #0000F0 ; width: 18% "><i class="fa fa-envelope left"></i> Email</button>
          <button type="button" class="btn btn-primary btn-lg" style="background-color: #2c4762 ; width: 19% ; border-style:none "><i class="fa fa-tumblr left"></i> Tumblr</button>
          <button type="button" class="btn btn-primary btn-lg" style="background-color: #007bb5 ; width: 19% ; border-style:none "><i class="fa fa-linkedin left"></i> Linkedin</button>
          <button type="button" class="btn btn-primary btn-lg" style="background-color: #cb2027 ; width: 19% ; border-style:none "><i class="fa fa-pinterest left"></i> Pinterest</button>-->
         <!-- <a href="#"><i class="fa fa-facebook-square fa-4x fa-hover" data-toggle="tooltip" title="Facebook" style="color: #3b5998 ;"></i></a>&nbsp;
          <a href="#"><i class="fa fa-twitter-square fa-4x fa-hover " data-toggle="tooltip" title="Twitter" style="color: #55ACEE ;"></i></a>&nbsp;
          <a href="#"><i class="fa fa-tumblr-square fa-4x fa-hover"data-toggle="tooltip" title="Tumblr"  style="color: #2c4762 ;"></i></a>&nbsp;
          <a href="#"><i class="fa fa-envelope-square fa-4x fa-hover" data-toggle="tooltip" title="Mail" style="color: #0000F0 ;"></i></a>&nbsp;
           <a href="#"><i class="fa fa-linkedin-square fa-4x fa-hover" data-toggle="tooltip" title="Linkedin" style="color: #007bb5 ;"></i></a>&nbsp;
          <a href="#"><i class="fa fa-pinterest-square fa-4x fa-hover"data-toggle="tooltip" title="Pinterest" style="color: #cb2027 ;"></i></a>&nbsp;
          </div>!-->


<!-- Go to www.addthis.com/dashboard to customize your tools -->
<div class="addthis_inline_share_toolbox"></div>
          <br>
          <!-- Bottom posts-->
          <div class="card-deck">
            <div class="card">
              <img class="card-img-top" src="http://www.theunstitchd.com/wp-content/uploads/2015/08/10-Accessories-Every-Man-must-have.png" alt="Card image cap">
              <div class="card-block">
                <a  href="men-accessory2" ><h4 class="card-title">5 Men Accessory Every Guy Need</h4></a>
              </div>
            </div>

            <div class="card">
              <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQsjEmHMprdFrGybpvF2iWLc3BdLJdl4zbUjZj25mXsXsbgOqdt" alt="Card image cap">
              <div class="card-block">
                <a  href="top-stock-2018" ><h4 class="card-title">Top 5 Stocks For 2018</h4></a>
              </div>
            </div>

            <div class="card">
              <img class="card-img-top" src="http://img.picturequotes.com/2/80/79545/youll-always-be-my-favorite-what-if-quote-1.jpg" alt="Card image cap">
              <div class="card-block">
                <a  href="daily-habits" > <h4 class="card-title">Effective Daily Habits For a Better Routine</h4></a>
              </div>
            </div>

          </div>
          <br>

        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

          <!-- Side Widget -->
         <div class="card my-4">
                <div class="rotate-container">
                    <div class="card card-front text-center">
                        <div class="card-header">
                            <p>Style of The Week</p>
                        </div>
                        <div class="card-background"></div>
                        <div class="card-block"><img class="avatar" src="https://www.onlinelogomaker.com/blog/wp-content/uploads/2017/09/fashion-logo-design.jpg" alt="Avatar"/>
                            <h3 class="card-title"></h3>
                            <p><i class="fa fa-fw fa-diamond"></i>Lifestyle</p>
                            <button class="btn btn-primary btn-rotate">I am curious &nbsp;       <i class="fa fa-long-arrow-right"></i></button>
                        </div>
                    </div>
                    <div class="card card-back text-center">
                        <div class="card-header">
                            <p><a href="alpha-m">Style of The Week</a></p>
                        </div>
                        <div class="card-block">

                           <!--> <button class="btn btn-rotate" style="background-color: #fff;">  <img src="http://www.outfits4you.de/wp-content/uploads/2017/12/outfit-mann-blaues-hemd-jeans-bugatti-schuhe.jpg" alt="" style="max-width: 100%"/> </button>

                        </div>
                    </div>
                </div>
            </div>


          <!-- More Articles -->

         <div class="card my-4" id="news2">
                <div class="wrapper" style="background: url(https://avatars.mds.yandex.net/get-pdb/477388/198eb335-84a1-40cd-b0cb-000909901ede/s800) center/cover no-repeat;">
                    <div class="header">
                        <div class="date">
                            <span class="day">6</span>
                            <span class="month">Feb</span>
                            <span class="year">2018</span>
                        </div>
                        <ul class="menu-content">
                            <li>
                                <a href="#" class="fa fa-bookmark-o"></a>
                            </li>
                            <li><a href="#" class="fa fa-heart-o"><span>18</span></a></li>
                            <li><a href="#" class="fa fa-comment-o"><span>3</span></a></li>
                        </ul>
                    </div>
                    <div class="data">
                        <div class="content">
                            <a href="http://glialomsa.com/yassine-berrehouma/web/" target="_blank" class="whitehover"> <span class="author"><i class="fa fa-user">Yassine Berrehouma</i></span></a>
                            <h2 style="font-weight: 400" class="title"><a href="dmitry-klokov">Who is Dmitry Klokov?</a></h2>
                            <a href="dmitry-klokov" class="whitehover"> <p class="text">Before i start introducing this guy, let me tell how i got to know him. Going through some inspirational videos on youtube, i land on this video...</p></a>
                            <a href="dmitry-klokov" class="button">Read more</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card my-4" id="news2">
                <div class="wrapper" style="background: url(https://www.wallpaperup.com/uploads/wallpapers/2015/02/12/620415/acb9b504b99a8e0547c2bb8dd531b542-700.jpg) center/cover no-repeat;">
                    <div class="header">
                        <div class="date">
                            <span class="day">6</span>
                            <span class="month">Feb</span>
                            <span class="year">2018</span>
                        </div>
                        <ul class="menu-content">
                            <li>
                                <a href="#" class="fa fa-bookmark-o"></a>
                            </li>
                            <li><a href="#" class="fa fa-heart-o"><span>18</span></a></li>
                            <li><a href="#" class="fa fa-comment-o"><span>3</span></a></li>
                        </ul>
                    </div>
                    <div class="data">
                        <div class="content">
                            <a href="http://glialomsa.com/yassine-berrehouma/web/" target="_blank" class="whitehover"> <span class="author"><i class="fa fa-user">Yassine Berrehouma</i></span></a>
                            <h2 style="font-weight: 400" class="title"><a href="life-changing-books">5 Life Changing Books</a></h2>
                            <a href="life-changing-books" class="whitehover"> <p class="text">Gentlemen today is an accessory extravaganza because I'm going over 5 accessories I feel every dude needs.</p></a>
                            <a href="life-changing-books" class="button">Read more</a>
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <!-- /.row -->

      </div>
      <!-- /.container -->
    </div>





{% endblock %}
{% block javascripts %}
  <script>
          $(" #lifestyle-nav-item").css('background-color', '#b1b220');
          $(" #lifestyle-nav-item").css('opacity', '0.75');
          /*$(" #mainNav.fixed-top .navbar-sidenav").css('background-color', '#b1b220');
          $(" #mainNav.navbar.navbar-expand-lg.fixed-top").css('background-color', '#b1b220');
          $(" #mainNav.fixed-top .sidenav-toggler > .nav-item > .nav-link").css('background-color', '#9b9c19');
          $(" .nav-link").css('color', '#e5e5e5');*/

      </script>

        <script>
            $(function() {
                // For card rotation
                $('.btn-rotate').click(function(){
                    $('.card-front').toggleClass(' rotate-card-front');
                    $('.card-back').toggleClass(' rotate-card-back');
                });
            });
        </script>
{% endblock %}