{% extends 'uibase.html.twig' %}
{% block body %}


  <div class="content-wrapper">

    <!-- Page Content -->
    <div class="container">

      <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">

          <!-- Title -->
          <h3 class="mt-4">8 intuitive steps to great leadership</h3>

          <!-- Author -->
          <p class="lead">
            by
            <a href="http://glialomsa.com/yassine-berrehouma/web/" target="_blank"><b>Yassine Berrehouma</b></a>
            Posted on February 6, 2018
          </p>


          <!-- Preview Image -->
        <!--  <div class="row" id="social-share">

          <!--<button type="button" class="btn btn-primary btn-lg" style="background-color: #3b5998 ; width: 19% ; border-style:none "><i class="fa fa-facebook left"></i> Facebook</button>
          <button type="button" class="btn btn-primary btn-lg" style="background-color: #55ACEE ; width: 19% ; border-style:none "><i class="fa fa-twitter-square fa-4x"></i> </button>
          <button type="button" class="btn btn-primary btn-lg" style="background-color: #0000F0 ; width: 18% "><i class="fa fa-envelope left"></i> Email</button>
          <button type="button" class="btn btn-primary btn-lg" style="background-color: #2c4762 ; width: 19% ; border-style:none "><i class="fa fa-tumblr left"></i> Tumblr</button>
          <button type="button" class="btn btn-primary btn-lg" style="background-color: #007bb5 ; width: 19% ; border-style:none "><i class="fa fa-linkedin left"></i> Linkedin</button>
          <button type="button" class="btn btn-primary btn-lg" style="background-color: #cb2027 ; width: 19% ; border-style:none "><i class="fa fa-pinterest left"></i> Pinterest</button>-->
         <!-- <a href="#"><i class="fa fa-facebook-square fa-4x fa-hover" data-toggle="tooltip" title="Facebook" style="color: #3b5998 ;"></i></a>&nbsp;
          <a href="#"><i class="fa fa-twitter-square fa-4x fa-hover " data-toggle="tooltip" title="Twitter" style="color: #55ACEE ;"></i></a>&nbsp;
          <a href="#"><i class="fa fa-tumblr-square fa-4x fa-hover"data-toggle="tooltip" title="Tumblr"  style="color: #2c4762 ;"></i></a>&nbsp;
          <a href="#"><i class="fa fa-envelope-square fa-4x fa-hover" data-toggle="tooltip" title="Mail" style="color: #0000F0 ;"></i></a>&nbsp;
           <a href="#"><i class="fa fa-linkedin-square fa-4x fa-hover" data-toggle="tooltip" title="Linkedin" style="color: #007bb5 ;"></i></a>&nbsp;
          <a href="#"><i class="fa fa-pinterest-square fa-4x fa-hover"data-toggle="tooltip" title="Pinterest" style="color: #cb2027 ;"></i></a>&nbsp;
          </div>!-->


<!-- Go to www.addthis.com/dashboard to customize your tools -->
<div class="addthis_inline_share_toolbox"></div>



          <img class="img-fluid rounded" src="{{ asset('main/img/leadership.jpg') }}" alt="">


          <br>
          <br>

          <!-- Post Content -->

        <h3>1-Team leadership is its own task.</h3>

           <p>Leadership in teams covers three core responsibilities:</p>
           <p> 1) delivering team objectives,
            <br>2) building a cohesive and effective team;
           <br> 3) managing and developing individual team member performance.</p>
           <p> The three are separate but related. As a team leader you need to juggle these three balls, and not drop any one of them.</p>

          <br>

           <h3>2-Team leaders go first and last</h3>

           <p>As team leader you are the architect of the team.</p>
           <p>You start with primary responsibility for all tasks of building and managing your team to deliver results.
           As well as going first you also remain fully, finally accountable for whether your team wins or loses. </p>
           <p>The buck stops with you.</p>
          <br>

          <h3>3-Leaders flex their leadership style</h3>

           <p>According to circumstances. Rather than having one preferred or dominant style, you need to be able to shift the way you lead between the four core styles of leadership to suit the current situation and the individuals on your team: Controlling, Coaching, Consulting and Collaborating.</p>
          <br>

          <h3>4-Control</h3>

           <p>At the beginning of a team’s life or your tenure as the team leader, when you do not yet have the insight into the team’s capabilities, the right approach is to exert authority and control.
            It is far easier to start tight and loosen control as needed.</p>


          <br>

          <h3>5-Coach</h3>

             <p>Where team members are more skilled, shift to guiding the team, giving critical advice at key moments. While coaching your whole team, remember you are first and foremost coaching people.
            Tailor your approach to each individual and their particular needs; find an approach that works for them.</p>
          <br>

          <h3>6-Consult</h3>

           <p>Have the confidence to recognize when and where you might not have the right answer. If you believe your team may know best, invite discussion and ask the right questions.
            You are looking to support your team and encourage them to take greater responsibility for future action.</p>
          <br>

          <h3>7-Collaborate</h3>

           <p>When the team is performing effectively, effective team leaders know when to get out of the way and hand over the remote control to the team.
           In this style of leadership, you will increasingly be collaborating as a first amongst equals in a web of mutual accountability.</p>
          <br>

          <h3>8-Create a team of leaders</h3>

           <p> Developing leaders across the team is developing a better team. The strongest teams are those in which more members inspire, support, challenge and hold each other accountable.
            Yet even in teams full of capable leaders you remain ultimately accountable. A leader’s work is never done.</p>
          <br>

        <!--  <div class="row" id="social-share">

          <!--<button type="button" class="btn btn-primary btn-lg" style="background-color: #3b5998 ; width: 19% ; border-style:none "><i class="fa fa-facebook left"></i> Facebook</button>
          <button type="button" class="btn btn-primary btn-lg" style="background-color: #55ACEE ; width: 19% ; border-style:none "><i class="fa fa-twitter-square fa-4x"></i> </button>
          <button type="button" class="btn btn-primary btn-lg" style="background-color: #0000F0 ; width: 18% "><i class="fa fa-envelope left"></i> Email</button>
          <button type="button" class="btn btn-primary btn-lg" style="background-color: #2c4762 ; width: 19% ; border-style:none "><i class="fa fa-tumblr left"></i> Tumblr</button>
          <button type="button" class="btn btn-primary btn-lg" style="background-color: #007bb5 ; width: 19% ; border-style:none "><i class="fa fa-linkedin left"></i> Linkedin</button>
          <button type="button" class="btn btn-primary btn-lg" style="background-color: #cb2027 ; width: 19% ; border-style:none "><i class="fa fa-pinterest left"></i> Pinterest</button>-->
         <!-- <a href="#"><i class="fa fa-facebook-square fa-4x fa-hover" data-toggle="tooltip" title="Facebook" style="color: #3b5998 ;"></i></a>&nbsp;
          <a href="#"><i class="fa fa-twitter-square fa-4x fa-hover " data-toggle="tooltip" title="Twitter" style="color: #55ACEE ;"></i></a>&nbsp;
          <a href="#"><i class="fa fa-tumblr-square fa-4x fa-hover"data-toggle="tooltip" title="Tumblr"  style="color: #2c4762 ;"></i></a>&nbsp;
          <a href="#"><i class="fa fa-envelope-square fa-4x fa-hover" data-toggle="tooltip" title="Mail" style="color: #0000F0 ;"></i></a>&nbsp;
           <a href="#"><i class="fa fa-linkedin-square fa-4x fa-hover" data-toggle="tooltip" title="Linkedin" style="color: #007bb5 ;"></i></a>&nbsp;
          <a href="#"><i class="fa fa-pinterest-square fa-4x fa-hover"data-toggle="tooltip" title="Pinterest" style="color: #cb2027 ;"></i></a>&nbsp;
          </div>!-->


<!-- Go to www.addthis.com/dashboard to customize your tools -->
<div class="addthis_inline_share_toolbox"></div>
          <br>
          <!-- Bottom posts-->
          <div class="card-deck">
            <div class="card">
              <img class="card-img-top" src="https://image.freepik.com/free-photo/men-accessories-black-and-blue-elegant_1357-109.jpg" alt="Card image cap">
              <div class="card-block">
                <a  href="men-accessory" ><h4 class="card-title">5 Men Accessories Every Guy Need</h4></a>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="https://media.gettyimages.com/photos/photo-of-slayer-picture-id85841092?s=612x612" alt="Card image cap">
              <div class="card-block">
                <a  href="slayer" ><h4 class="card-title">What Made Slayer Such Legends (Farewell Tour)?</h4></a>
              </div>
            </div>

            <div class="card">
              <img class="card-img-top" src="https://ei.marketwatch.com/Multimedia/2017/12/07/Photos/ZH/MW-FZ774_2018_b_20171207104332_ZH.jpg?uuid=612646b2-db65-11e7-a217-9c8e992d421e" alt="Card image cap">
              <div class="card-block">
                <a  href="top-stock-2018" > <h4 class="card-title">Top Stocks For 2018</h4></a>
              </div>
            </div>

          </div>
          <br>

        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

          <!-- Side Widget -->
         <div class="card my-4">
                <div class="rotate-container">
                    <div class="card card-front text-center">
                        <div class="card-header">
                            <p>Style of The Week</p>
                        </div>
                        <div class="card-background"></div>
                        <div class="card-block"><img class="avatar" src="https://www.onlinelogomaker.com/blog/wp-content/uploads/2017/09/fashion-logo-design.jpg" alt="Avatar"/>
                            <h3 class="card-title"></h3>
                            <p><i class="fa fa-fw fa-diamond"></i>Lifestyle</p>
                            <button class="btn btn-primary btn-rotate">I am curious &nbsp;       <i class="fa fa-long-arrow-right"></i></button>
                        </div>
                    </div>
                    <div class="card card-back text-center">
                        <div class="card-header">
                            <p><a href="alpha-m">Style of The Week</a></p>
                        </div>
                        <div class="card-block">

                           <!--> <button class="btn btn-rotate" style="background-color: #fff;">  <img src="http://www.outfits4you.de/wp-content/uploads/2017/12/outfit-mann-blaues-hemd-jeans-bugatti-schuhe.jpg" alt="" style="max-width: 100%"/> </button>

                        </div>
                    </div>
                </div>
            </div>


          <!-- More Articles -->

           <div class="card my-4" id="news2">
                <div class="wrapper" style="background: url(https://avatars.mds.yandex.net/get-pdb/477388/198eb335-84a1-40cd-b0cb-000909901ede/s800) center/cover no-repeat;">
                    <div class="header">
                        <div class="date">
                            <span class="day">6</span>
                            <span class="month">Feb</span>
                            <span class="year">2018</span>
                        </div>
                        <ul class="menu-content">
                            <li>
                                <a href="#" class="fa fa-bookmark-o"></a>
                            </li>
                            <li><a href="#" class="fa fa-heart-o"><span>18</span></a></li>
                            <li><a href="#" class="fa fa-comment-o"><span>3</span></a></li>
                        </ul>
                    </div>
                    <div class="data">
                        <div class="content">
                            <a href="http://glialomsa.com/yassine-berrehouma/web/" target="_blank" class="whitehover"> <span class="author"><i class="fa fa-user">Yassine Berrehouma</i></span></a>
                            <h2 style="font-weight: 400" class="title"><a href="dmitry-klokov">Who is Dmitry Klokov?</a></h2>
                            <a href="dmitry-klokov" class="whitehover"> <p class="text">Before i start introducing this guy, let me tell how i got to know him. Going through some inspirational videos on youtube, i land on this video...</p></a>
                            <a href="dmitry-klokov" class="button">Read more</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card my-4" id="news2">
                <div class="wrapper" style="background: url(https://www.wallpaperup.com/uploads/wallpapers/2015/02/12/620415/acb9b504b99a8e0547c2bb8dd531b542-700.jpg) center/cover no-repeat;">
                    <div class="header">
                        <div class="date">
                            <span class="day">6</span>
                            <span class="month">Feb</span>
                            <span class="year">2018</span>
                        </div>
                        <ul class="menu-content">
                            <li>
                                <a href="#" class="fa fa-bookmark-o"></a>
                            </li>
                            <li><a href="#" class="fa fa-heart-o"><span>18</span></a></li>
                            <li><a href="#" class="fa fa-comment-o"><span>3</span></a></li>
                        </ul>
                    </div>
                    <div class="data">
                        <div class="content">
                            <a href="http://glialomsa.com/yassine-berrehouma/web/" target="_blank" class="whitehover"> <span class="author"><i class="fa fa-user">Yassine Berrehouma</i></span></a>
                            <h2 style="font-weight: 400" class="title"><a href="life-changing-books">5 Life Changing Books</a></h2>
                            <a href="life-changing-books" class="whitehover"> <p class="text">Gentlemen today is an accessory extravaganza because I'm going over 5 accessories I feel every dude needs.</p></a>
                            <a href="life-changing-books" class="button">Read more</a>
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <!-- /.row -->

      </div>
      <!-- /.container -->
    </div>





{% endblock %}
{% block javascripts %}
  <script>
          $(" #lifestyle-nav-item").css('background-color', '#b1b220');
          $(" #lifestyle-nav-item").css('opacity', '0.75');
          /*$(" #mainNav.fixed-top .navbar-sidenav").css('background-color', '#b1b220');
          $(" #mainNav.navbar.navbar-expand-lg.fixed-top").css('background-color', '#b1b220');
          $(" #mainNav.fixed-top .sidenav-toggler > .nav-item > .nav-link").css('background-color', '#9b9c19');
          $(" .nav-link").css('color', '#e5e5e5');*/

      </script>

        <script>
            $(function() {
                // For card rotation
                $('.btn-rotate').click(function(){
                    $('.card-front').toggleClass(' rotate-card-front');
                    $('.card-back').toggleClass(' rotate-card-back');
                });
            });
        </script>
{% endblock %}