{% extends 'uibase.html.twig' %}
{% block body %}
<div class="content-wrapper">
  <div class="container-fluid">

    <!-- Main Content -->
    <!-- Page Content -->
    <div class="container">
      <div class="row">

          <!-- Blog Entries Column -->
          <div class="col-md-8">
              <!-- Blog Post -->
              <div class="card mb-4">
                  <a href="men-accessory"> <img class="card-img-top" src="{{ asset('main/img/men-accessory.jpg') }}" alt="Card image cap"></a>
                  <div class="card-body">
                      <a  href="men-accessory" > <h2 class="card-title">5 Accessories Every Guy Needs (Part1) </h2></a>
                      <p class="card-text"><a href="men-accessory" style="color:black">Gentlemen today is an accessory extravaganza because I'm going over 5 accessories I feel every dude needs.</a></p>
                      <a href="men-accessory" class="btn btn-primary">Read More &rarr;</a>
                  </div>
                  <div class="card-footer text-muted">
                      <a href="http://glialomsa.com/yassine-berrehouma/web/" target="_blank" class="graycolor"><i class="fa fa-user"></i> Yassine Berrehouma </a> <i class="fa fa-clock-o"></i> February 1, 2018
                  </div>
              </div>

              <div class="card mb-4">
                  <div class="card">
                      <div class="row ">
                          <div class="col-md-4">
                              <a href="daily-habits">  <img class="img-fluid rounded mb-3 mb-md-0" src="https://cdn-images-1.medium.com/max/1198/1*p27vr2v24aFLIr9ypSxe8A.jpeg" alt="" id="top-article-img"></a>
                          </div>
                          <div class="col-md-8 px-3">
                              <div class="card-block px-3">
                                  <a  href="daily-habits" ><h2 class="card-title">5 Effective Daily Habits For a Better Routine</h2></a>
                                  <p class="card-text"><a href="daily-habits" style="color:black">“Success is nothing more than a few simple disciplines, practiced every day.” Jim Rohn</a></p>
                                  <a href="daily-habits" class="btn btn-primary">Read More &rarr;</a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="card mb-4">
                  <div class="card">
                      <div class="row ">
                          <div class="col-md-4">
                              <a href="things-to-avoid"><img class="img-fluid rounded mb-3 mb-md-0" src="https://natashatracy.com/blog/wp-content/uploads/2015/10/life-saving-swimming-tube-737370_1280.jpg" alt="" id="top-article-img"></a>
                          </div>
                          <div class="col-md-8 px-3">
                              <div class="card-block px-3">
                                  <a  href="things-to-avoid" ><h2 class="card-title">What are the things that you must avoid for a better life?</h2></a>
                                  <p class="card-text"><a href="things-to-avoid" style="color:black">To be successful in life, isn't only about the things that you have to do and achieve but also, what you must avoid doing.<br>

                                          So here are 10 things you must avoid for a better life</a></p>
                                  <a href="things-to-avoid" class="btn btn-primary">Read More &rarr;</a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="card mb-4">
                  <div class="card">
                      <div class="row ">
                          <div class="col-md-4">
                              <a href="leadership">  <img class="img-fluid rounded mb-3 mb-md-0" src="http://www.sabusinessindex.co.za/wp-content/uploads/2017/01/leader.jpg" alt="" id="top-article-img"></a>
                          </div>
                          <div class="col-md-8 px-3">
                              <div class="card-block px-3">
                                  <a  href="leadership" ><h2 class="card-title">8 intuitive steps to great leadership</h2></a>
                                  <p class="card-text"><a href="leadership" style="color:black">Have you ever wondered, what makes a person outstanding from the rest, and be a leader?</a></p>
                                  <a href="leadership" class="btn btn-primary">Read More &rarr;</a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>








              <!-- Bottom posts-->
              <div class="card-deck">
                  <div class="card">
                      <a href="alpha-m"> <img class="card-img-top" src="https://i.ytimg.com/vi/Q3CFxqXrbAg/maxresdefault.jpg" alt="Card image cap"></a>
                      <div class="card-block">
                          <a  href="alpha-m" ><h4 class="card-title">Who is Alpha M?</h4></a>
                      </div>
                  </div>
                  <div class="card">
                      <a href="top-programming-languages-2018">  <img class="card-img-top" src="http://postatic.buzzyears.com.s3.amazonaws.com/portal/wp-content/uploads/2016/06/18161502/developer-image-c.jpg" alt="Card image cap"></a>
                      <div class="card-block">
                          <a  href="top-programming-languages-2018" ><h4 class="card-title">Best Programming Languages for 2018</h4></a>
                      </div>
                  </div>
                  <div class="card">
                      <a href="men-accessory2">  <img class="card-img-top" src="https://i.pinimg.com/736x/a3/83/ea/a383ea3c6204464a2eb5ae9ae563e282--girl-style-my-style.jpg" alt="Card image cap"></a>
                      <div class="card-block">
                          <a  href="men-accessory2" > <h4 class="card-title">5 Accessories Every Guy Needs (Part2)</h4></a>
                      </div>
                  </div>
              </div>
              <br>

          </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

          <!-- Side Widget -->
         <!-- <div class="card my-4">
              <h5 class="card-header">Challenge Yourself</h5>
                <div class="mm-survey">

                  <div class="mm-survey-progress">
                    <div class="mm-survey-progress-bar mm-progress"></div>
                  </div>

                  <div class="mm-survey-results">
                    <div class="mm-survey-results-container">
                      <h3 class="mm-survey-results-score"></h3>
                      <ul class="mm-survey-results-list"></ul>
                    </div>
                    <div class="mm-survey-results-controller">
                      <div class="mm-back-btn">
                        <button>Back</button>
                      </div>
                    </div>
                  </div>

                  <div class="mm-survey-bottom">
                    <div class="mm-survey-container">

                      <div class="mm-survey-page active" data-page="1">
                        <div class="mm-survery-content">
                          <div class="mm-survey-question">
                            <p>Based on history... What is the ideal color for a Ferrari?</p>
                          </div>
                          <div class="mm-survey-item">
                            <input type="radio" id="radio01" data-item="1" name="radio1" value="red" />
                            <label for="radio01"><span></span><p>Red</p></label>
                          </div>
                          <div class="mm-survey-item">
                            <input type="radio" id="radio02" data-item="1" name="radio1" value="blue" />
                            <label for="radio02"><span></span><p>Blue</p></label>
                          </div>
                          <div class="mm-survey-item">
                            <input type="radio" id="radio03" data-item="1" name="radio1" value="green" />
                            <label for="radio03"><span></span><p>Green</p></label>
                          </div>
                          <div class="mm-survey-item">
                            <input type="radio" id="radio04" data-item="1" name="radio1" value="purple" />
                            <label for="radio04"><span></span><p>Purple</p></label>
                          </div>
                        </div>
                      </div>
                      <div class="mm-survey-page" data-page="2">
                        <div class="mm-survery-content">
                          <div class="mm-survey-question">
                            <p>Which one of these car brands is made in Germany?</p>
                          </div>
                          <div class="mm-survey-item">
                            <input type="radio" id="radio05" data-item="2" name="radio2" value="honda" />
                            <label for="radio05"><span></span><p>Honda</p></label>
                          </div>
                          <div class="mm-survey-item">
                            <input type="radio" id="radio06" data-item="2" name="radio2" value="ford" />
                            <label for="radio06"><span></span><p>Ford</p></label>
                          </div>
                          <div class="mm-survey-item">
                            <input type="radio" id="radio07" data-item="2" name="radio2" value="mercedes" />
                            <label for="radio07"><span></span><p>Mercedes</p></label>
                          </div>
                          <div class="mm-survey-item">
                            <input type="radio" id="radio08" data-item="2" name="radio2" value="ferrari" />
                            <label for="radio08"><span></span><p>Ferrari</p></label>
                          </div>
                        </div>
                      </div>
                      <div class="mm-survey-page" data-page="3">
                        <div class="mm-survery-content">
                          <div class="mm-survey-question">
                            <p>Which is the correct integer for Pi?</p>
                          </div>
                          <div class="mm-survey-item">
                            <input type="radio" id="radio09" data-item="3" name="radio3" value="3" />
                            <label for="radio09"><span></span><p>3</p></label>
                          </div>
                          <div class="mm-survey-item">
                            <input type="radio" id="radio10" data-item="3" name="radio3" value="4" />
                            <label for="radio10"><span></span><p>4</p></label>
                          </div>
                          <div class="mm-survey-item">
                            <input type="radio" id="radio11" data-item="3" name="radio3" value="3.41" />
                            <label for="radio11"><span></span><p>3.41</p></label>
                          </div>
                          <div class="mm-survey-item">
                            <input type="radio" id="radio12" data-item="3" name="radio3" value="3.14" />
                            <label for="radio12"><span></span><p>3.14</p></label>
                          </div>
                        </div>
                      </div>
                      <div class="mm-survey-page" data-page="4">
                        <div class="mm-survery-content">
                          <div class="mm-survey-question">
                            <p>The letter 'C' is the nth number in the alphabet, choose the correct number.</p>
                          </div>
                          <div class="mm-survey-item">
                            <input type="radio" id="radio13" data-item="4" name="radio4" value="1" />
                            <label for="radio13"><span></span><p>1</p></label>
                          </div>
                          <div class="mm-survey-item">
                            <input type="radio" id="radio14" data-item="4" name="radio4" value="2" />
                            <label for="radio14"><span></span><p>2</p></label>
                          </div>
                          <div class="mm-survey-item">
                            <input type="radio" id="radio15" data-item="4" name="radio4" value="3" />
                            <label for="radio15"><span></span><p>3</p></label>
                          </div>
                          <div class="mm-survey-item">
                            <input type="radio" id="radio16" data-item="4" name="radio4" value="4" />
                            <label for="radio16"><span></span><p>4</p></label>
                          </div>
                        </div>
                      </div>
                      <!-- <div class="mm-survey-page" data-page="5">
                          <div class="mm-survery-content">

                          </div>
                      </div>
                      <div class="mm-survey-page" data-page="6">
                          <div class="mm-survery-content">

                          </div>
                      </div>
                      <div class="mm-survey-page" data-page="7">
                          <div class="mm-survery-content">

                          </div>
                      </div> -->

                   <!-- </div>

                    <div class="mm-survey-controller">
                      <div class="mm-prev-btn">
                        <button>Prev</button>
                      </div>
                      <div class="mm-next-btn">
                        <button disabled="true">Next</button>
                      </div>
                      <div class="mm-finish-btn">
                        <button>Submit</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

]          <!-- </div>!-->
            <div class="card my-4">
                <div class="rotate-container">
                    <div class="card card-front text-center">
                        <div class="card-header">
                            <p>Style of The Week</p>
                        </div>
                        <div class="card-background"></div>
                        <div class="card-block"><img class="avatar" src="https://www.onlinelogomaker.com/blog/wp-content/uploads/2017/09/fashion-logo-design.jpg" alt="Avatar"/>
                            <h3 class="card-title"></h3>
                            <p><i class="fa fa-fw fa-diamond"></i>Lifestyle</p>
                            <button class="btn btn-primary btn-rotate">I am curious &nbsp;       <i class="fa fa-long-arrow-right"></i></button>
                        </div>
                    </div>
                    <div class="card card-back text-center">
                        <div class="card-header">
                            <p><a href="alpha-m">Style of The Week</a></p>
                        </div>
                        <div class="card-block">

                           <!--> <button class="btn btn-rotate" style="background-color: #fff;">  <img src="http://www.outfits4you.de/wp-content/uploads/2017/12/outfit-mann-blaues-hemd-jeans-bugatti-schuhe.jpg" alt="" style="max-width: 100%"/> </button>

                        </div>
                    </div>
                </div>
            </div>
          <!-- More Articles -->

            <div class="card my-4" id="news2">
                <div class="wrapper" style="background: url(https://avatars.mds.yandex.net/get-pdb/477388/198eb335-84a1-40cd-b0cb-000909901ede/s800) center/cover no-repeat;">
                    <div class="header">
                        <div class="date">
                            <span class="day">6</span>
                            <span class="month">Feb</span>
                            <span class="year">2018</span>
                        </div>
                        <ul class="menu-content">
                            <li>
                                <a href="#" class="fa fa-bookmark-o"></a>
                            </li>
                            <li><a href="#" class="fa fa-heart-o"><span>18</span></a></li>
                            <li><a href="#" class="fa fa-comment-o"><span>3</span></a></li>
                        </ul>
                    </div>
                    <div class="data">
                        <div class="content">
                            <a href="http://glialomsa.com/yassine-berrehouma/web/" target="_blank" class="whitehover"> <span class="author"><i class="fa fa-user">Yassine Berrehouma</i></span></a>
                            <h2 style="font-weight: 400" class="title"><a href="dmitry-klokov">Who is Dmitry Klokov?</a></h2>
                            <a href="dmitry-klokov" class="whitehover"> <p class="text">Before i start introducing this guy, let me tell how i got to know him. Going through some inspirational videos on youtube, i land on this video...</p></a>
                            <a href="dmitry-klokov" class="button">Read more</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card my-4" id="news2">
                <div class="wrapper" style="background: url(https://www.wallpaperup.com/uploads/wallpapers/2015/02/12/620415/acb9b504b99a8e0547c2bb8dd531b542-700.jpg) center/cover no-repeat;">
                    <div class="header">
                        <div class="date">
                            <span class="day">6</span>
                            <span class="month">Feb</span>
                            <span class="year">2018</span>
                        </div>
                        <ul class="menu-content">
                            <li>
                                <a href="#" class="fa fa-bookmark-o"></a>
                            </li>
                            <li><a href="#" class="fa fa-heart-o"><span>18</span></a></li>
                            <li><a href="#" class="fa fa-comment-o"><span>3</span></a></li>
                        </ul>
                    </div>
                    <div class="data">
                        <div class="content">
                            <a href="http://glialomsa.com/yassine-berrehouma/web/" target="_blank" class="whitehover"> <span class="author"><i class="fa fa-user">Yassine Berrehouma</i></span></a>
                            <h2 style="font-weight: 400" class="title"><a href="life-changing-books">5 Life Changing Books</a></h2>
                            <a href="life-changing-books" class="whitehover"> <p class="text">Gentlemen today is an accessory extravaganza because I'm going over 5 accessories I feel every dude needs.</p></a>
                            <a href="life-changing-books" class="button">Read more</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->
  </div>
</div>




    {% endblock %}
    {% block javascripts %}
      <script>
          $(" #lifestyle-nav-item").css('background-color', '#b1b220');
          $(" #lifestyle-nav-item").css('opacity', '0.75');
          /*$(" #mainNav.fixed-top .navbar-sidenav").css('background-color', '#b1b220');
          $(" #mainNav.navbar.navbar-expand-lg.fixed-top").css('background-color', '#b1b220');
          $(" #mainNav.fixed-top .sidenav-toggler > .nav-item > .nav-link").css('background-color', '#9b9c19');
          $(" .nav-link").css('color', '#e5e5e5');*/

      </script>

        <script>
            $(function() {
                // For card rotation
                $('.btn-rotate').click(function(){
                    $('.card-front').toggleClass(' rotate-card-front');
                    $('.card-back').toggleClass(' rotate-card-back');
                });
            });
        </script>

      <script>
          jQuery('.mm-prev-btn').hide();

          var x;
          var count;
          var current;
          var percent;
          var z = [];

          init();
          getCurrentSlide();
          goToNext();
          goToPrev();
          getCount();
          // checkStatus();
          // buttonConfig();
          buildStatus();
          deliverStatus();
          submitData();
          goBack();

          function init() {

              jQuery('.mm-survey-container .mm-survey-page').each(function() {

                  var item;
                  var page;

                  item = jQuery(this);
                  page = item.data('page');

                  item.addClass('mm-page-'+page);
                  //item.html(page);

              });

          }

          function getCount() {

              count = jQuery('.mm-survey-page').length;
              return count;

          }

          function goToNext() {

              jQuery('.mm-next-btn').on('click', function() {
                  goToSlide(x);
                  getCount();
                  current = x + 1;
                  var g = current/count;
                  buildProgress(g);
                  var y = (count + 1);
                  getButtons();
                  jQuery('.mm-survey-page').removeClass('active');
                  jQuery('.mm-page-'+current).addClass('active');
                  getCurrentSlide();
                  checkStatus();
                  if( jQuery('.mm-page-'+count).hasClass('active') ){
                      if( jQuery('.mm-page-'+count).hasClass('pass') ) {
                          jQuery('.mm-finish-btn').addClass('active');
                      }
                      else {
                          jQuery('.mm-page-'+count+' .mm-survery-content .mm-survey-item').on('click', function() {
                              jQuery('.mm-finish-btn').addClass('active');
                          });
                      }
                  }
                  else {
                      jQuery('.mm-finish-btn').removeClass('active');
                      if( jQuery('.mm-page-'+current).hasClass('pass') ) {
                          jQuery('.mm-survey-container').addClass('good');
                          jQuery('.mm-survey').addClass('okay');
                      }
                      else {
                          jQuery('.mm-survey-container').removeClass('good');
                          jQuery('.mm-survey').removeClass('okay');
                      }
                  }
                  buttonConfig();
              });

          }

          function goToPrev() {

              jQuery('.mm-prev-btn').on('click', function() {
                  goToSlide(x);
                  getCount();
                  current = (x - 1);
                  var g = current/count;
                  buildProgress(g);
                  var y = count;
                  getButtons();
                  jQuery('.mm-survey-page').removeClass('active');
                  jQuery('.mm-page-'+current).addClass('active');
                  getCurrentSlide();
                  checkStatus();
                  jQuery('.mm-finish-btn').removeClass('active');
                  if( jQuery('.mm-page-'+current).hasClass('pass') ) {
                      jQuery('.mm-survey-container').addClass('good');
                      jQuery('.mm-survey').addClass('okay');
                  }
                  else {
                      jQuery('.mm-survey-container').removeClass('good');
                      jQuery('.mm-survey').removeClass('okay');
                  }
                  buttonConfig();
              });

          }

          function buildProgress(g) {

              if(g > 1){
                  g = g - 1;
              }
              else if (g === 0) {
                  g = 1;
              }
              g = g * 100;
              jQuery('.mm-survey-progress-bar').css({ 'width' : g+'%' });

          }

          function goToSlide(x) {

              return x;

          }

          function getCurrentSlide() {

              jQuery('.mm-survey-page').each(function() {

                  var item;

                  item = jQuery(this);

                  if( jQuery(item).hasClass('active') ) {
                      x = item.data('page');
                  }
                  else {

                  }

                  return x;

              });

          }

          function getButtons() {

              if(current === 0) {
                  current = y;
              }
              if(current === count) {
                  jQuery('.mm-next-btn').hide();
              }
              else if(current === 1) {
                  jQuery('.mm-prev-btn').hide();
              }
              else {
                  jQuery('.mm-next-btn').show();
                  jQuery('.mm-prev-btn').show();
              }

          }

          jQuery('.mm-survey-q li input').each(function() {

              var item;
              item = jQuery(this);

              jQuery(item).on('click', function() {
                  if( jQuery('input:checked').length > 0 ) {
                      // console.log(item.val());
                      jQuery('label').parent().removeClass('active');
                      item.closest( 'li' ).addClass('active');
                  }
                  else {
                      //
                  }
              });

          });

          percent = (x/count) * 100;
          jQuery('.mm-survey-progress-bar').css({ 'width' : percent+'%' });

          function checkStatus() {
              jQuery('.mm-survery-content .mm-survey-item').on('click', function() {
                  var item;
                  item = jQuery(this);
                  item.closest('.mm-survey-page').addClass('pass');
              });
          }

          function buildStatus() {
              jQuery('.mm-survery-content .mm-survey-item').on('click', function() {
                  var item;
                  item = jQuery(this);
                  item.addClass('bingo');
                  item.closest('.mm-survey-page').addClass('pass');
                  jQuery('.mm-survey-container').addClass('good');
              });
          }

          function deliverStatus() {
              jQuery('.mm-survey-item').on('click', function() {
                  if( jQuery('.mm-survey-container').hasClass('good') ){
                      jQuery('.mm-survey').addClass('okay');
                  }
                  else {
                      jQuery('.mm-survey').removeClass('okay');
                  }
                  buttonConfig();
              });
          }

          function lastPage() {
              if( jQuery('.mm-next-btn').hasClass('cool') ) {
                  alert('cool');
              }
          }

          function buttonConfig() {
              if( jQuery('.mm-survey').hasClass('okay') ) {
                  jQuery('.mm-next-btn button').prop('disabled', false);
              }
              else {
                  jQuery('.mm-next-btn button').prop('disabled', true);
              }
          }

          function submitData() {
              jQuery('.mm-finish-btn').on('click', function() {
                  collectData();
                  jQuery('.mm-survey-bottom').slideUp();
                  jQuery('.mm-survey-results').slideDown();
              });
          }

          function collectData() {

              var map = {};
              var ax = ['0','red','mercedes','3.14','3'];
              var answer = '';
              var total = 0;
              var ttl = 0;
              var g;
              var c = 0;

              jQuery('.mm-survey-item input:checked').each(function(index, val) {
                  var item;
                  var data;
                  var name;
                  var n;

                  item = jQuery(this);
                  data = item.val();
                  name = item.data('item');
                  n = parseInt(data);
                  total += n;

                  map[name] = data;

              });

              jQuery('.mm-survey-results-container .mm-survey-results-list').html('');

              for (i = 1; i <= count; i++) {

                  var t = {};
                  var m = {};
                  answer += map[i] + '<br>';

                  if( map[i] === ax[i]) {
                      g = map[i];
                      p = 'correct';
                      c = 1;
                  }
                  else {
                      g = map[i];
                      p = 'incorrect';
                      c = 0;
                  }

                  jQuery('.mm-survey-results-list').append('<li class="mm-survey-results-item '+p+'"><span class="mm-item-number">'+i+'</span><span class="mm-item-info">'+g+' - '+p+'</span></li>');

                  m[i] = c;
                  ttl += m[i];

              }

              var results;
              results = ( ( ttl / count ) * 100 ).toFixed(0);

              jQuery('.mm-survey-results-score').html( results + '%' );

          }

          function goBack() {
              jQuery('.mm-back-btn').on('click', function() {
                  jQuery('.mm-survey-bottom').slideDown();
                  jQuery('.mm-survey-results').slideUp();
              });
          }
      </script>

    {% endblock %}

