{% extends 'uibase.html.twig' %}
{% block body %}


  <div class="content-wrapper">

    <!-- Page Content -->
    <div class="container">

      <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">

          <!-- Title -->
          <h3 class="mt-4">What are the things that you must avoid for a better life?</h3>

          <!-- Author -->
          <p class="lead">
            by
            <a href="http://glialomsa.com/yassine-berrehouma/web/" target="_blank"><b>Yassine Berrehouma</b></a>
            Posted on February 6, 2018
          </p>

 <p>To be successful in life, isn't only about the things that you have to do and achieve but also, what you must avoid doing.</p>
 <p>So here are 10 things you must avoid for a better life </p>
          <!-- Preview Image -->
         <!--  <div class="row" id="social-share">

          <!--<button type="button" class="btn btn-primary btn-lg" style="background-color: #3b5998 ; width: 19% ; border-style:none "><i class="fa fa-facebook left"></i> Facebook</button>
          <button type="button" class="btn btn-primary btn-lg" style="background-color: #55ACEE ; width: 19% ; border-style:none "><i class="fa fa-twitter-square fa-4x"></i> </button>
          <button type="button" class="btn btn-primary btn-lg" style="background-color: #0000F0 ; width: 18% "><i class="fa fa-envelope left"></i> Email</button>
          <button type="button" class="btn btn-primary btn-lg" style="background-color: #2c4762 ; width: 19% ; border-style:none "><i class="fa fa-tumblr left"></i> Tumblr</button>
          <button type="button" class="btn btn-primary btn-lg" style="background-color: #007bb5 ; width: 19% ; border-style:none "><i class="fa fa-linkedin left"></i> Linkedin</button>
          <button type="button" class="btn btn-primary btn-lg" style="background-color: #cb2027 ; width: 19% ; border-style:none "><i class="fa fa-pinterest left"></i> Pinterest</button>-->
         <!-- <a href="#"><i class="fa fa-facebook-square fa-4x fa-hover" data-toggle="tooltip" title="Facebook" style="color: #3b5998 ;"></i></a>&nbsp;
          <a href="#"><i class="fa fa-twitter-square fa-4x fa-hover " data-toggle="tooltip" title="Twitter" style="color: #55ACEE ;"></i></a>&nbsp;
          <a href="#"><i class="fa fa-tumblr-square fa-4x fa-hover"data-toggle="tooltip" title="Tumblr"  style="color: #2c4762 ;"></i></a>&nbsp;
          <a href="#"><i class="fa fa-envelope-square fa-4x fa-hover" data-toggle="tooltip" title="Mail" style="color: #0000F0 ;"></i></a>&nbsp;
           <a href="#"><i class="fa fa-linkedin-square fa-4x fa-hover" data-toggle="tooltip" title="Linkedin" style="color: #007bb5 ;"></i></a>&nbsp;
          <a href="#"><i class="fa fa-pinterest-square fa-4x fa-hover"data-toggle="tooltip" title="Pinterest" style="color: #cb2027 ;"></i></a>&nbsp;
          </div>!-->


<!-- Go to www.addthis.com/dashboard to customize your tools -->
<div class="addthis_inline_share_toolbox"></div>



          <img class="img-fluid rounded" src="{{ asset('main/img/things-to-avoid.jpg') }}" alt="">


          <br>
          <br>

          <!-- Post Content -->

      <h3>1-Stay Away From Drugs</h3>
            <p>Why would you ever dp drugs? In my opinion, this is one of the most stupid things any human being can do to themselves. Be smart about it. Don't destroy yourself!</p>
<br>
 <h3>2-Never Ignore Your Parents.</h3>
            <p>They made who you are, they supported you financially for many years, and gave you emotional support when you needed it. Parents deserve the outmost respect and praise, forever.</p>
            <br>
 <h3>3-Never Let Anyone Control Your Life</h3>
            <p>Wonder why they call it <b>“your life?”</b> Don’t let anyone or anything control it. Ultimately, you are the master of it, and the author of your life;
            it’s not worth giving the power to someone else. Also, think about the things that are controlling your day-to-day, it’s not always people that control us,
             but other things such as social media, technology, and bad habits.</p>
             <br>

      <h3>4-Never Avoid Your Health</h3>
                <p>
                Try to live as long as possible, and there is no better way to do this than being healthy. We should strive to be healthy in every aspect of our lives; physically,
                mentally and emotionally. Feeling good is truly an investment.</p>
                <br>

       <h3>5-Never Put Work Over Family or Friends.</h3>
           <p>I’m not saying to skip work over a party, but make sure you work when you must, and share time with family and friends when you should.
           Don’t procrastinate so that when you have a social gathering you have to miss it do to work.
            Strive for a balance in your work and social life.</p>
           <br>

           <h3>6-Never Spend More Than You Earn</h3>
<p>It may sound ridiculous, but you would be surprised to know how many people spend more than they earn.
 Never disregard saving money and investing in your future, you should spend smart and wise.
Economist Harold Pollack once said that every financial advice anyone needs, can be neatly fit on an index card.</p>

<br>
 <h3>7-Never Be Judgmental.</h3>
            <p>You never know what kind of battle someone is having, and you might never know the entire story behind someone’s actions. Try to understand before judging.</p>
            <br>
 <h3>8-Never Forget Who Helped You in Tough Times</h3>
            <p>Real friends are those who help you when you need it the most, don’t forget about them, they are the ones you want to keep forever.
            Occasionally, a stranger might help you with something, or a professor might help you with a project;
            don’t forget these small things, be grateful and pay it back.</p>
             <br>

      <h3>9-Never Quit Your Dreams</h3>
                <p>
             But remember, you have to work three times harder in order to achieve them. If your “dream” gives a purpose to your life, why quit?
             If you don't have a dream to pursue, now is the time to seat down and write about something you want to achieve.</p>
                <br>

       <h3>10-Never Be Materialistic</h3>
           <p>Don’t obsess over stuff money can buy, but pursue does things that it can. Love a lot, smile a lot, have true friends, love your family.
            Nonetheless, it’s always important to have a healthy relationship with money; don’t let it rule you.</p>
           <br>


           <h5><i>In the end, the adage of <b>“never say never”</b> is very wrong. Trust me, you can say never whenever you want, specially to these points mentioned above.</i></h5>
<br>
         <!--  <div class="row" id="social-share">

          <!--<button type="button" class="btn btn-primary btn-lg" style="background-color: #3b5998 ; width: 19% ; border-style:none "><i class="fa fa-facebook left"></i> Facebook</button>
          <button type="button" class="btn btn-primary btn-lg" style="background-color: #55ACEE ; width: 19% ; border-style:none "><i class="fa fa-twitter-square fa-4x"></i> </button>
          <button type="button" class="btn btn-primary btn-lg" style="background-color: #0000F0 ; width: 18% "><i class="fa fa-envelope left"></i> Email</button>
          <button type="button" class="btn btn-primary btn-lg" style="background-color: #2c4762 ; width: 19% ; border-style:none "><i class="fa fa-tumblr left"></i> Tumblr</button>
          <button type="button" class="btn btn-primary btn-lg" style="background-color: #007bb5 ; width: 19% ; border-style:none "><i class="fa fa-linkedin left"></i> Linkedin</button>
          <button type="button" class="btn btn-primary btn-lg" style="background-color: #cb2027 ; width: 19% ; border-style:none "><i class="fa fa-pinterest left"></i> Pinterest</button>-->
         <!-- <a href="#"><i class="fa fa-facebook-square fa-4x fa-hover" data-toggle="tooltip" title="Facebook" style="color: #3b5998 ;"></i></a>&nbsp;
          <a href="#"><i class="fa fa-twitter-square fa-4x fa-hover " data-toggle="tooltip" title="Twitter" style="color: #55ACEE ;"></i></a>&nbsp;
          <a href="#"><i class="fa fa-tumblr-square fa-4x fa-hover"data-toggle="tooltip" title="Tumblr"  style="color: #2c4762 ;"></i></a>&nbsp;
          <a href="#"><i class="fa fa-envelope-square fa-4x fa-hover" data-toggle="tooltip" title="Mail" style="color: #0000F0 ;"></i></a>&nbsp;
           <a href="#"><i class="fa fa-linkedin-square fa-4x fa-hover" data-toggle="tooltip" title="Linkedin" style="color: #007bb5 ;"></i></a>&nbsp;
          <a href="#"><i class="fa fa-pinterest-square fa-4x fa-hover"data-toggle="tooltip" title="Pinterest" style="color: #cb2027 ;"></i></a>&nbsp;
          </div>!-->


<!-- Go to www.addthis.com/dashboard to customize your tools -->
<div class="addthis_inline_share_toolbox"></div>
          <br>
          <!-- Bottom posts-->
          <div class="card-deck">
            <div class="card">
              <img class="card-img-top" src="https://i.ndtvimg.com/i/2016-07/suicide-istock-650_650x400_71468999138.jpg" alt="Card image cap">
              <div class="card-block">
                <a  href="people-give-up-on-life" ><h4 class="card-title">Why do people give up on life?</h4></a>
              </div>
            </div>

            <div class="card">
              <img class="card-img-top" src="http://www.zoopable.com/wp-content/uploads/improve-alexa-rank-of-your-website.png" alt="Card image cap">
              <div class="card-block">
                <a  href="daily-habits" ><h4 class="card-title">5 Effective Daily Habits For a Better Routine</h4></a>
              </div>
            </div>

            <div class="card">
              <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRuQUlsH2TyvWSA5kudh6YV4PycqBD0xdwqvd5geV3KH1nuIw_-RA" alt="Card image cap">
              <div class="card-block">
                <a  href="slayer" > <h4 class="card-title">Get To Know Slayer Before Their Farewell Tour!</h4></a>
              </div>
            </div>

          </div>
          <br>

        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

          <!-- Side Widget -->
         <div class="card my-4">
                <div class="rotate-container">
                    <div class="card card-front text-center">
                        <div class="card-header">
                            <p>Style of The Week</p>
                        </div>
                        <div class="card-background"></div>
                        <div class="card-block"><img class="avatar" src="https://www.onlinelogomaker.com/blog/wp-content/uploads/2017/09/fashion-logo-design.jpg" alt="Avatar"/>
                            <h3 class="card-title"></h3>
                            <p><i class="fa fa-fw fa-diamond"></i>Lifestyle</p>
                            <button class="btn btn-primary btn-rotate">I am curious &nbsp;       <i class="fa fa-long-arrow-right"></i></button>
                        </div>
                    </div>
                    <div class="card card-back text-center">
                        <div class="card-header">
                            <p><a href="alpha-m">Style of The Week</a></p>
                        </div>
                        <div class="card-block">

                           <!--> <button class="btn btn-rotate" style="background-color: #fff;">  <img src="http://www.outfits4you.de/wp-content/uploads/2017/12/outfit-mann-blaues-hemd-jeans-bugatti-schuhe.jpg" alt="" style="max-width: 100%"/> </button>

                        </div>
                    </div>
                </div>
            </div>


          <!-- More Articles -->

        <div class="card my-4" id="news2">
                <div class="wrapper" style="background: url(https://avatars.mds.yandex.net/get-pdb/477388/198eb335-84a1-40cd-b0cb-000909901ede/s800) center/cover no-repeat;">
                    <div class="header">
                        <div class="date">
                            <span class="day">6</span>
                            <span class="month">Feb</span>
                            <span class="year">2018</span>
                        </div>
                        <ul class="menu-content">
                            <li>
                                <a href="#" class="fa fa-bookmark-o"></a>
                            </li>
                            <li><a href="#" class="fa fa-heart-o"><span>18</span></a></li>
                            <li><a href="#" class="fa fa-comment-o"><span>3</span></a></li>
                        </ul>
                    </div>
                    <div class="data">
                        <div class="content">
                            <a href="http://glialomsa.com/yassine-berrehouma/web/" target="_blank" class="whitehover"> <span class="author"><i class="fa fa-user">Yassine Berrehouma</i></span></a>
                            <h2 style="font-weight: 400" class="title"><a href="dmitry-klokov">Who is Dmitry Klokov?</a></h2>
                            <a href="dmitry-klokov" class="whitehover"> <p class="text">Before i start introducing this guy, let me tell how i got to know him. Going through some inspirational videos on youtube, i land on this video...</p></a>
                            <a href="dmitry-klokov" class="button">Read more</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card my-4" id="news2">
                <div class="wrapper" style="background: url(https://www.wallpaperup.com/uploads/wallpapers/2015/02/12/620415/acb9b504b99a8e0547c2bb8dd531b542-700.jpg) center/cover no-repeat;">
                    <div class="header">
                        <div class="date">
                            <span class="day">6</span>
                            <span class="month">Feb</span>
                            <span class="year">2018</span>
                        </div>
                        <ul class="menu-content">
                            <li>
                                <a href="#" class="fa fa-bookmark-o"></a>
                            </li>
                            <li><a href="#" class="fa fa-heart-o"><span>18</span></a></li>
                            <li><a href="#" class="fa fa-comment-o"><span>3</span></a></li>
                        </ul>
                    </div>
                    <div class="data">
                        <div class="content">
                            <a href="http://glialomsa.com/yassine-berrehouma/web/" target="_blank" class="whitehover"> <span class="author"><i class="fa fa-user">Yassine Berrehouma</i></span></a>
                            <h2 style="font-weight: 400" class="title"><a href="life-changing-books">5 Life Changing Books</a></h2>
                            <a href="life-changing-books" class="whitehover"> <p class="text">Gentlemen today is an accessory extravaganza because I'm going over 5 accessories I feel every dude needs.</p></a>
                            <a href="life-changing-books" class="button">Read more</a>
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <!-- /.row -->

      </div>
      <!-- /.container -->
    </div>





{% endblock %}
{% block javascripts %}
   <script>
          $(" #lifestyle-nav-item").css('background-color', '#b1b220');
          $(" #lifestyle-nav-item").css('opacity', '0.75');
          /*$(" #mainNav.fixed-top .navbar-sidenav").css('background-color', '#b1b220');
          $(" #mainNav.navbar.navbar-expand-lg.fixed-top").css('background-color', '#b1b220');
          $(" #mainNav.fixed-top .sidenav-toggler > .nav-item > .nav-link").css('background-color', '#9b9c19');
          $(" .nav-link").css('color', '#e5e5e5');*/

      </script>

        <script>
            $(function() {
                // For card rotation
                $('.btn-rotate').click(function(){
                    $('.card-front').toggleClass(' rotate-card-front');
                    $('.card-back').toggleClass(' rotate-card-back');
                });
            });
        </script>
{% endblock %}