{% extends 'uibase.html.twig' %}
{% block body %}
<div class="content-wrapper">
  <div class="container-fluid">

    <!-- Main Content -->
    <!-- Page Content -->
    <div class="container">
      <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">
          <!-- Blog Post -->
          <div class="card mb-4">
            <a href="top-stock-2018" > <img class="card-img-top" src="{{ asset('main/img/top-stocks-2018.jpg') }}" alt="Card image cap"></a>
            <div class="card-body">
              <a  href="top-stock-2018" > <h2 class="card-title">Top Stocks of 2018</h2></a>
              <p class="card-text"><a href="top-stock-2018" style="color:black">2017 has been such an incredible year for the stock market. 2018 started strong and looks bullish, but how far can it go. Take a look at the top 5 stocks that we have for you that looks the most upbeat</a></p>
                <a href="top-stock-2018" class="btn btn-primary">Read More &rarr;</a>
            </div>
            <div class="card-footer text-muted">
              <a href="http://yassineberrehouma.com" target="_blank" class="graycolor"><i class="fa fa-user"></i> Yassine Berrehouma </a> <i class="fa fa-clock-o"></i> February 1, 2018
            </div>
          </div>

          <div class="card mb-4">
            <div class="card">
              <div class="row ">
                <div class="col-md-4">
                  <a href="top-online-brokers">  <img class="img-fluid rounded mb-3 mb-md-0" src="http://thoibaotaichinhvietnam.vn/Pictures42016/truongphihung-tbtc/261201597.jpg" alt="" id="top-article-img"></a>
                </div>
                <div class="col-md-8 px-3">
                  <div class="card-block px-3">
                    <a  href="top-online-brokers" ><h2 class="card-title">Top Online Brokerages</h2></a>
                    <p class="card-text"><a href="top-online-brokers" style="color:black">As a new investor or little experienced trader, having the right online stock broker is one of the most important decisions. One thing to consider, that would help to...</a></p>
                    <a href="top-online-brokers" class="btn btn-primary">Read More &rarr;</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card mb-4">
            <div class="card">
              <div class="row ">
                <div class="col-md-4">
                  <a href="before-buying-stock"><img class="img-fluid rounded mb-3 mb-md-0" src="https://geoinvesting.com/wp-content/uploads/2016/09/chris-irons-critical-stock.jpg" alt="" id="top-article-img"></a>
                </div>
                <div class="col-md-8 px-3">
                  <div class="card-block px-3">
                    <a  href="before-buying-stock" ><h2 class="card-title">Musts before buying a stock</h2></a>
                    <p class="card-text"><a href="before-buying-stock" style="color:black">When you want to invest in certain stock, from my perspective the most important thing to know is its business´s fundamentals, its financial overview and its opportunity to grow.
                      </a> </p>
                      <a href="before-buying-stock" class="btn btn-primary">Read More &rarr;</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card mb-4">
            <div class="card">
              <div class="row ">
                <div class="col-md-4">
                  <a href="leadership">  <img class="img-fluid rounded mb-3 mb-md-0" src="https://www.insidehr.com.au/wp-content/uploads/2017/03/Effective-leader-min.jpg" alt="" id="top-article-img"></a>
                </div>
                <div class="col-md-8 px-3">
                  <div class="card-block px-3">
                    <a  href="leadership" ><h2 class="card-title">8 intuitive steps to great leadership</h2></a>
                    <p class="card-text"><a href="leadership" style="color:black">Have you ever wondered, what makes a person outstanding from the rest, and be a leader?</a></p>
                    <a href="leadership" class="btn btn-primary">Read More &rarr;</a>
                  </div>
                </div>
              </div>
            </div>
          </div>








          <!-- Bottom posts-->
          <div class="card-deck">
            <div class="card">
              <a href="things-to-avoid"> <img class="card-img-top" src="http://www.fnesmusica.es/contenido/2017/02/IMG-20170216-WA0032-752x440.jpg" alt="Card image cap"></a>
              <div class="card-block">
                <a  href="things-to-avoid" ><h4 class="card-title">Things that you must avoid</h4></a>
              </div>
            </div>

            <div class="card">
              <a href="top-trading-book"> <img class="card-img-top" src="{{ asset('main/img/trading-book.jpg') }}" alt="Card image cap"></a>
              <div class="card-block">
                <a  href="top-trading-book" ><h4 class="card-title">5 Trading Books</h4></a>
              </div>
            </div>

            <div class="card">
              <a href="stock-trading-tips"> <img class="card-img-top" src="{{ asset('main/img/stock-trading-tips.jpg') }}" alt="Card image cap"></a>
              <div class="card-block">
                <a  href="stock-trading-tips" ><h4 class="card-title">Stock Trading Tips</h4></a>
              </div>
            </div>
          </div>
          <br>

        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

          <!-- Side Widget -->
          <div class="card my-4">
            <h5 class="card-header">News</h5>
            <div class="input-group">
              <div class="feedgrabbr_widget" id="fgid_f367e6865f9c09864b6a7e8b4"></div>
              <script>if (typeof (fg_widgets) === "undefined") fg_widgets = new Array(); fg_widgets.push("fgid_f367e6865f9c09864b6a7e8b4");</script>
              <script async src="{{ asset('https://www.feedgrabbr.com/widget/fgwidget.js') }}"></script>
            </div>
          </div>


          <!-- More Articles -->

          <div class="card my-4" id="news2">
            <div class="wrapper"  <div class="wrapper" style="background: url(http://laurenceourac.com/home/wp-content/uploads/2015/01/Accessories-Every-Man-Should-Have.jpg) center/cover no-repeat;">>
              <div class="header">
                <div class="date">
                  <span class="day">6</span>
                  <span class="month">Feb</span>
                  <span class="year">2018</span>
                </div>
                <ul class="menu-content">
                  <li>
                    <a href="#" class="fa fa-bookmark-o"></a>
                  </li>
                  <li><a href="#" class="fa fa-heart-o"><span>18</span></a></li>
                  <li><a href="#" class="fa fa-comment-o"><span>3</span></a></li>
                </ul>
              </div>
              <div class="data">
                <div class="content">
                  <a href="http://glialomsa.com/yassine-berrehouma/web/" target="_blank" class="whitehover"> <span class="author"><i class="fa fa-user">Yassine Berrehouma</i></span></a>
                  <h2 style="font-weight: 400" class="title"><a href="men-accessory">5 Accessories Every Guy Needs (Part1)</a></h2>
                  <a href="men-accessory" class="whitehover"> <p class="text">Gentlemen today is an accessory extravaganza because I'm going over 5 accessories I feel every dude needs.</p></a>
                  <a href="men-accessory" class="button">Read more</a>
                </div>
              </div>
            </div>
          </div>

          <div class="card my-4" id="news2">
            <div class="wrapper" style="background: url(https://www.timeshighereducation.com/sites/default/files/computer_programming.jpg) center/cover no-repeat;">
              <div class="header">
                <div class="date">
                  <span class="day">6</span>
                  <span class="month">Feb</span>
                  <span class="year">2018</span>
                </div>
                <ul class="menu-content">
                  <li>
                    <a href="#" class="fa fa-bookmark-o"></a>
                  </li>
                  <li><a href="#" class="fa fa-heart-o"><span>18</span></a></li>
                  <li><a href="#" class="fa fa-comment-o"><span>3</span></a></li>
                </ul>
              </div>
              <div class="data">
                <div class="content">
                  <a href="http://glialomsa.com/yassine-berrehouma/web/" target="_blank" class="whitehover"> <span class="author"><i class="fa fa-user">Yassine Berrehouma</i></span></a>
                  <h2 style="font-weight: 400" class="title"><a href="top-programming-languages-2018">Best programming language to learn in 2018</a></h2>
                  <a href="top-programming-languages-2018" class="whitehover"> <p class="text">In the programming field. You must always be on top of the news. You can be the best at one programming language, but...</p></a>
                  <a href="top-programming-languages-2018" class="button">Read more</a>
                </div>
              </div>
            </div>
          </div>
      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->
  </div>
</div>







    {% endblock %}
    {% block javascripts %}
      <script>

          $(" #business-nav-item").css('background-color', '#0e5d91');
          $(" #business-nav-item").css('opacity', '0.75');
          /*$(" #mainNav.fixed-top .navbar-sidenav").css('background-color', '#0e5d91');
          $(" #mainNav.navbar.navbar-expand-lg.fixed-top").css('background-color', '#0e5d91');
          $(" #mainNav.fixed-top .sidenav-toggler > .nav-item > .nav-link").css('background-color', '#103065');
          $(" .nav-link").css('color', '#e5e5e5');*/


      </script>
    {% endblock %}

