{% extends 'uibase.html.twig' %}
{% block body %}
<div class="content-wrapper">
  <div class="container-fluid">

    <!-- Main Content -->
    <!-- Page Content -->
    <div class="container">
      <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">
          <!-- Blog Post -->
          <div class="card mb-4">
            <img class="card-img-top" src="{{ asset('main/img/sport.jpg') }}" alt="Card image cap">
            <div class="card-body">
              <a  href="/solo/web/app_dev.php/rowing" > <h2 class="card-title">Post Title</h2></a>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
              <a href="/solo/web/app_dev.php/rowing" class="btn btn-primary">Read More &rarr;</a>
            </div>
            <div class="card-footer text-muted">
              Posted on January 1, 2017
            </div>
          </div>

          <div class="card mb-4">
            <div class="card">
              <div class="row ">
                <div class="col-md-4">
                  <img class="img-fluid rounded mb-3 mb-md-0" src="https://imagejournal.org/wp-content/uploads/bb-plugin/cache/23466317216_b99485ba14_o-panorama.jpg" alt="" id="top-article-img">
                </div>
                <div class="col-md-8 px-3">
                  <div class="card-block px-3">
                    <a  href="/solo/web/app_dev.php/rowing" ><h2 class="card-title">Post Title</h2></a>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
                    <a href="#" class="btn btn-primary">Read More &rarr;</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card mb-4">
            <div class="card">
              <div class="row ">
                <div class="col-md-4">
                  <img class="img-fluid rounded mb-3 mb-md-0" src="https://imagejournal.org/wp-content/uploads/bb-plugin/cache/23466317216_b99485ba14_o-panorama.jpg" alt="" id="top-article-img">
                </div>
                <div class="col-md-8 px-3">
                  <div class="card-block px-3">
                    <a  href="/solo/web/app_dev.php/rowing" ><h2 class="card-title">Post Title</h2></a>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
                    <a href="#" class="btn btn-primary">Read More &rarr;</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card mb-4">
            <div class="card">
              <div class="row ">
                <div class="col-md-4">
                  <img class="img-fluid rounded mb-3 mb-md-0" src="https://imagejournal.org/wp-content/uploads/bb-plugin/cache/23466317216_b99485ba14_o-panorama.jpg" alt="" id="top-article-img">
                </div>
                <div class="col-md-8 px-3">
                  <div class="card-block px-3">
                    <a  href="/solo/web/app_dev.php/rowing" ><h2 class="card-title">Post Title</h2></a>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
                    <a href="#" class="btn btn-primary">Read More &rarr;</a>
                  </div>
                </div>
              </div>
            </div>
          </div>








          <!-- Bottom posts-->
          <div class="card-deck">
            <div class="card">
              <img class="card-img-top" src="{{ asset('main/img/weed.jpg') }}" alt="Card image cap">
              <div class="card-block">
                <a  href="/solo/web/app_dev.php/rowing" ><h4 class="card-title">Card title</h4></a>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="{{ asset('main/img/sport.jpg') }}" alt="Card image cap">
              <div class="card-block">
                <a  href="/solo/web/app_dev.php/rowing" ><h4 class="card-title">Card title</h4></a>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="{{ asset('main/img/bitcoin.jpg') }}" alt="Card image cap">
              <div class="card-block">
                <a  href="/solo/web/app_dev.php/rowing" > <h4 class="card-title">Card title</h4></a>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
              </div>
            </div>
          </div>
          <br>

        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

          <div class="card my-4">
            <div class="rotate-container">
              <div class="card card-front text-center">
                <div class="card-header">
                  <p>People of the Week</p>
                </div>
                <div class="card-background"></div>
                <div class="card-block"><img class="avatar" src="https://d3iw72m71ie81c.cloudfront.net/male-11.jpg" alt="Avatar"/>
                  <h3 class="card-title">Your Name</h3>
                  <p>Your Profession</p>
                  <button class="btn btn-primary btn-rotate">Read more &nbsp;       <i class="fa fa-long-arrow-right"></i></button>
                </div>
              </div>
              <div class="card card-back text-center">
                <div class="card-header">
                  <p>Michael ali</p>
                </div>
                <div class="card-block">
                  <h4>Interests</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. emper imperdiet, tortor metus ultrices lorem, non luctus massa risus at urna.</p>
                  <h4>Connect:</h4>
                  <ul class="social-links list-unstyled d-flex justify-content-center">
                    <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fa fa-snapchat"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
                  </ul>
                  <button class="btn btn-primary btn-rotate">   <i class="fa fa-long-arrow-left"> </i>&nbsp; Back </button>
                </div>
              </div>
            </div>
          </div>

          <!-- Side Widget -->



          <!-- More Articles -->

          <div class="card my-4" id="news2">
            <div class="wrapper">
              <div class="header">
                <div class="date">
                  <span class="day">12</span>
                  <span class="month">Aug</span>
                  <span class="year">2016</span>
                </div>
                <ul class="menu-content">
                  <li>
                    <a href="#" class="fa fa-bookmark-o"></a>
                  </li>
                  <li><a href="#" class="fa fa-heart-o"><span>18</span></a></li>
                  <li><a href="#" class="fa fa-comment-o"><span>3</span></a></li>
                </ul>
              </div>
              <div class="data">
                <div class="content">
                  <span class="author">Jane Doe</span>
                  <h1 class="title"><a href="#">Stranger Things: The sound of the Upside Down</a></h1>
                  <p class="text">The antsy bingers of Netflix will eagerly anticipate teg3rgjwoie</p>
                  <a href="#" class="button">Read more</a>
                </div>
              </div>
            </div>
          </div>

          <div class="card my-4" id="news2">
            <div class="wrapper">
              <div class="header">
                <div class="date">
                  <span class="day">12</span>
                  <span class="month">Aug</span>
                  <span class="year">2016</span>
                </div>
                <ul class="menu-content">
                  <li>
                    <a href="#" class="fa fa-bookmark-o"></a>
                  </li>
                  <li><a href="#" class="fa fa-heart-o"><span>18</span></a></li>
                  <li><a href="#" class="fa fa-comment-o"><span>3</span></a></li>
                </ul>
              </div>
              <div class="data">
                <div class="content">
                  <span class="author">Jane Doe</span>
                  <h1 class="title"><a href="#">Stranger Things: The sound of the Upside Down</a></h1>
                  <p class="text">The antsy bingers of Netflix will eagerly anticipate teg3rgjwoie</p>
                  <a href="#" class="button">Read more</a>
                </div>
              </div>
            </div>
          </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->
  </div>
</div>





    {% endblock %}
    {% block javascripts %}
      <script>

          $(" #people-nav-item").css('background-color', '#77345c');
          $(" #people-nav-item").css('opacity', '0.75');
         /* $(" #mainNav.fixed-top .navbar-sidenav").css('background-color', '#77345c');
          $(" #mainNav.navbar.navbar-expand-lg.fixed-top").css('background-color', '#77345c');
          $(" #mainNav.fixed-top .sidenav-toggler > .nav-item > .nav-link").css('background-color', '#771454');
          $(" .nav-link").css('color', '#e5e5e5');*/


      </script>

      <script>
          $(function() {
              // For card rotation
              $('.btn-rotate').click(function(){
                  $('.card-front').toggleClass(' rotate-card-front');
                  $('.card-back').toggleClass(' rotate-card-back');
              });
          });
      </script>
    {% endblock %}

