{% extends 'mainbase.html.twig' %}
{% block body %}
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('{{ asset('main/img/main-pic.jpg') }}')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>About Us</h1>
              <span class="subheading">This is what We do.</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <p>So much information can be found on the internet and I am sure that you can find the answer to your question, but who said it's the best out there. Here comes <b>Glialomsa</b> where you won't only find the answer but <b>the best answer!</b></p>

            <p>The fact that there are uncountable number of websites, you can easily lose yourself. That's why <b>Glialomsa</b>, apart from feeding you with the best response, we are aiming to gather all of the necessities into a single website to reduce the amount of wasted time while being in the wrong place. <b>It's all about Efficiency!</b></p>

            <p>Our goal, is to take <b>Glialomsa</b> to a point where it can be your best support that can give you the exact information and knowledge you need and beyond. <b>You tell us who you want to be in the near future and we take care of the rest to make the person that you want to be.</b></p>
        </div>
      </div>
    </div>

    <hr>


    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/clean-blog.min.js"></script>

 {% endblock %}
